/*page layout css*/
/*main menu*/
div#main_navtxt {
	position: relative;
	top: 0px;
	left: 0px;
	float: left;
	font: bold 11px/18px Verdana, Arial, Helvetica, sans-serif;
	color: #999999;
	padding: 5px 5px 5px 5px;
}
div#main_navtxt a {
	color: #004E8E;
}
div#main_navtxt a:hover {
	text-decoration: none;
	color: #0293D4;
}
div#main_navtxt .vis:hover {
	color: #696;
}
div#main_navtxt .infovis:hover {
	color: #66F;
}
div#main_navtxt .vast:hover {
	color: #CC0099;
}
/*a:link {
	text-decoration:none;
	color:#03C;
}
a:active {
	text-decoration:none;
	color:#003B61;
}
a:visited {
	text-decoration:none;
	color:#369;
}
a:hover {
	text-decoration: underline;
	color:#06F;
}*/
/*text formatting*/

/* *-*-*-*- *-*-*-*- *-*-*         Begin Menu tree rules        *-*-*-*- *-*-*-*- *-*-*-*- 
 	 *                                 _____________________                                */
.buttonlink {
	color: #06F;
	text-decoration: none;
}
/*menu button. These field styles may cause windows bug:
				   position: relative; letter-spacing: .2em;*/
.button {
	color: #039; /*menu button text*/
	z-index: 100000;
	cursor: default;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font: menu;
	margin-bottom: 0px;
	margin-top: 2px;
	font-size: 12px;
}
/*menu button label text that trigger drop downs*/
.buttonlabel {
	font-size: 13px;
	height: 14px;
	font-weight: 800;
	cursor: default;
	border-width: 1px;
	top: 0;
	left: 0;
	visibility: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
/*little image next to menu buttons*/
			.buttonlabel img {
	margin: 0 0 -4px 0 !important;
	border: 0 !important;
	padding: 0 !important;
}
.level1label {
	height: 10px;
	font-size: 10px;
	font-weight: 700;
	padding: 1px 3px;
	cursor: default;
	margin-bottom: 0;
	margin-top:  .05em;
	border-left: 0px solid #BBBBBB !important;
}
/*property when hovering over menu buttons*/
			.labelHover {
	color: #06F;
}
/*property when menu button is open*/
			.labelDown {
	color: #039;
}
.buttonDown {
	background-color: #333333;
}
/** menu link .menuItem replaces .menuNode 
			 * to open menus instantly. 
			 * (see open-instantly.html source)
			 */
.menuNode, .menuItem {
	font-size: 11px;
	border-bottom: 1px none #BBBBBB;
	height: 17px;
	border-left: 12px none #ffcc99;
	padding-left: 18px;
}
.menuNode a, menuItem a {
	color: #000;
	font-size: 11px;
	line-height: 17px;
	padding: 0px 3px 1px 8px;
	text-decoration: none;
	width: auto;
	white-space: nowrap;
}
.menuNode a:hover, .menuItem a:hover {
	text-decoration: underline;
	color: #006;
}
.menu {
	position: relative;
	padding-bottom:  0.6em;
	padding-top: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-bottom: -3px;
}
.menu .menu, .menu .menu .menu { /* submenus & submenus' submenus  */
	border-left: 1px solid #BBBBBB;
	padding-left: 10px;
}
.menu .menu .menu { /* submenus' submenus  */
	height:1%;
}
#nav {
	width:220px;
	float: left;
	color: #c0c0c0;
	overflow: visible;
	position: relative;
	margin: 0;
	white-space: nowrap;
	-moz-user-select: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	z-index: 4;
}
					
			
	/* *-*-*-*- *-*-*-*- *-*-*-*         End Menu tree rules        *-*-*-*- *-*-*-*- *-*-*-*- 
 	 *                                   ___________________                                */
/*#searchfield {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #6A869E;
	border-left: 0px;
	width: 138px;
	margin: 0;
	padding: 0;
	border: 0;
	height: 24px;
	background-color: #CCCCCC;
}
#search {
	position: absolute;
	right: 5px;
	top: 2px;
	width: 200px;
	border: 1px solid gray;
	margin: 0;
	padding: 0;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	background-color: #CCCCCC;
}

.search {
	font: normal 10px Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	border-top: 1px solid #666666;
	border-right: 5px solid #666666;
	border-bottom: 1px solid #666666;
	background-color: #999999;
	border-left: 0px;
	width: 150px;
	height: 15px;
	padding-left: 2px;
}
*/
