
.empty-calendar {
   border: 1px blue solid;
   text-align: center;
   margin: 30px 30px 30px 60px;
   padding: 30px;
   }
/*.empty-text {
   text-align: center;
   margin: 30px 30px 30px 60px;
   padding: 30px;
   color: #538f8f;
   font-size: 20px;
   }*/
/* hidding fields in entry form */
ul.tips,
fieldset.options-collapse,
fieldset.author-collapse,
fieldset.revision-collapse,
fieldset.path-collapse,
fieldset.menu-item-form {
   display: none;
   }
/* notification + node width */
.paper-links {
    float: right;
    }
a.node-notify img {
   float: right;
   margin-top: 20px;
   margin-left: -20px;
   }
.node {
    margin: 0 !important;
    padding: 0 !important;
    }
/* hover window */
.popup .title {
   color:    #cf4040;
   font-size: 120%;
   text-align: center;
   }
.popup .subtitle {
   text-align: center;
   color: #538fbf;
   }
.popup .label {
   width: 80px;
   font-weight: bold;
   }

div#calpopup {
  display: block;
  border: thin solid gray;
  /* This is css3 stuff that will not work in IE<=8.
   * What is here is a curved border for firefox and webkit
   * and a drop shadow that will only appear in webkit.
  **/
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -webkit-box-shadow: 10px 10px 5px #888;
  /* End CSS3 stuff */
  background-color: rgb(223,223,223);
  width: 22%;
  position: absolute;
  top: 10em;
  left: 10em;
  
  /* CSS to make sure that the popup is on top */
  z-index: 800;
}

div#calpopup-body div.node {
  margin: 0;
  border: 0;
}

div#calpopup-body {
  margin: 1em;
  max-height: 20em;
  overflow-y: auto;
  /* IE7 Hack 
   * This keeps the date from sticking in one place while scrolling.
   */
  position: relative;
}

#popup-close {
  text-align: right;
  padding: 1em 1em 0 1em;
}

div#nodelink {
  margin: 1em;
}

img#popthrobber {
  text-align: center;
  margin: 3em;
}

/* day view 
.day-view div.btrack1 {
     position: relative;
     left: 1%;
     height: 20px;
     width: 19% !important;
     float: left;
     }
.day-view div.btrack2 {
     position: relative;
     left: 1%;
     height: 20px;
     width: 19% !important;
     float: left;
     }
.day-view div.btrack3 {
     position: relative;
     left: 1%;
     height: 20px;
     width: 19% !important;
     float: left;
     }
.day-view div.btrack4 {
     position: relative;
     height: 20px;
     left: 1%;
     width: 19% !important;
     float: left;
     }*/
.lcol {
    border-left: 1px solid #fff;
    }
.rcol {
    border-right: 1px solid #fff;
    }
.trow {
    border-top: 1px solid #fff;
    }
.brow {
    border-bottom: 1px solid #fff;
    }
.nolcol {
    border-left: 1px solid transparent;
    }
.norcol {
    border-right: 1px solid transparent;
    }
.notrow {
    border-top: 1px solid transparent;
    }
.nobrow {
    border-bottom: 1px solid transparent;
    }
   
/* week-view 
.week-view .visweek,
.week-view .vis,
.week-view .infovis,
.week-view .vast {
   border: 1px solid #fff;
   }
.week-view .duration1 {
   height: 20px;
   }
.week-view .duration2 {
   height: 40px;
   }
.week-view .duration3 {
   height: 60px;
   }
.week-view .duration4 {
   height: 80px;
   }
.week-view .duration5 {
   height: 100px;
   }
.week-view .duration6 {
   height: 120px;
   }*/
/* touching node view */
html.js fieldset.collapsible legend a {
   text-transform: uppercase;
   }
fieldset legend {
   text-transform: uppercase;
   color: #666666;
   }
/* error pages */
.error-message {
   text-align: center;
   font-size: 120%;
   }
