.weekview {
  padding-top: 20px;
}
.weekview a:link, .weekview a:visited {
   color: #fff;
   }
.weekview .legend .visweek,
.weekview .legend .infovis,
.weekview .legend .vast,
.weekview .legend .vis{
    width: 20px;
    /*border: 1px solid #fff;*/
    color: transparent; 
    }
.weekview .conference {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#666666 none repeat scroll 0 0;
border:1px solid #000000;
height:322px;
width:710px;
}
.weekview .section {
   -x-system-font: none;
   color: #FFFFFF;
   font-family: Verdana,Geneva,sans-serif;
   font-size: 10px;
   font-size-adjust: none;
   font-stretch: normal;
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   left: 0;
   line-height: 20px;
   position: relative;
   text-align: center;
   }
.weekview .days {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#666 url(images/bg_day684.png) no-repeat scroll 0 0;
height:100px;
left:26px;
position:relative;
width:684px;
padding: 0 0 1px 0;
}
.weekview .labelText {
-x-system-font:none;
font-family:Verdana,Geneva,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:small-caps;
font-weight:bold;
}
.weekview .labelBkg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#CCCCCC none repeat scroll 0 0;
height:100px;
left:-26px;
position:relative;
width:25px;
}
.weekview .vis {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/bg_vis_o.png) repeat scroll 0 0;
}
.weekview .vast {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/bg_vast_o.png) repeat scroll 0 0;
}
.weekview .infovis {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/bg_infovis_o.png) repeat scroll 0 0;
}
.weekview .visweek {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/bg_visweek_o.png) repeat scroll 0 0;
}
.weekview .tvcg {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background-color:rgb(214,173,92);
}
.weekview .exhibition {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(images/bg_exhibition_o.png) repeat scroll 0 0;
}
.weekview .conference .agenda {
/*text-align: center;*/
-x-system-font:none;
font-family:Verdana,Geneva,sans-serif;
font-size:11px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:18px;
overflow:hidden;
padding:0 0 0 2px;
position:absolute;
vertical-align:middle;
}
/*START TIMES*/
.weekview .time0800 {left:0px;}/*8am*/
.weekview .time0815 {left:14px;}
.weekview .time0830 {left:29px;}
.weekview .time0845 {left:43px;}
.weekview .time0900 {left:57px;}/*9am*/
.weekview .time0915 {left:71px;}
.weekview .time0930 {left:86px;}
.weekview .time0945 {left:100px;}
.weekview .time1000 {left:114px;}/*10am*/
.weekview .time1015 {left:128px;}
.weekview .time1030 {left:143px;}
.weekview .time1040 {left:151px;}
.weekview .time1045 {left:157px;}
.weekview .time1100 {left:171px;}/*11am*/
.weekview .time1115 {left:185px;}
.weekview .time1130 {left:200px;}
.weekview .time1140 {left:210px;}
.weekview .time1145 {left:214px;}
.weekview .time1200 {left:228px;}/*12pm*/
.weekview .time1215 {left:242px;}
.weekview .time1230 {left:257px;}
.weekview .time1245 {left:271px;}
.weekview .time1300 {left:285px;}/*1pm*/
.weekview .time1315 {left:299px;}
.weekview .time1330 {left:314px;}
.weekview .time1345 {left:328px;}
.weekview .time1400 {left:342px;}/*2pm*/
.weekview .time1415 {left:356px;}
.weekview .time1430 {left:371px;}
.weekview .time1445 {left:385px;}
.weekview .time1500 {left:399px;}/*3pm*/
.weekview .time1515 {left:413px;}
.weekview .time1530 {left:428px;}
.weekview .time1545 {left:442px;}
.weekview .time1600 {left:456px;}/*4pm*/
.weekview .time1615 {left:470px;}
.weekview .time1630 {left:485px;}
.weekview .time1645 {left:499px;}
.weekview .time1700 {left:513px;}/*5pm*/
.weekview .time1715 {left:529px;}
.weekview .time1730 {left:542px;}
.weekview .time1745 {left:556px;}
.weekview .time1800 {left:570px;}/*6pm*/
.weekview .time1815 {left:584px;}
.weekview .time1830 {left:599px;}
.weekview .time1845 {left:613px;}
.weekview .time1900 {left:627px;}/*7pm*/
.weekview .time1915 {left:641px;}
.weekview .time1930 {left:656px;}
.weekview .time1945 {left:670px;}
.weekview .time2000 {left:684px;}/*8pm*/

/* width of an event box - corresponds to duration */
/* Rough guide line: add 14px for 15 minutes and add 29 for 30 minutes, add 43px for 45 minutes */
/*DURATION subtract 2 for .content padding*/
.weekview .duration1:hover{min-width:12px; width:auto;}
.weekview .duration1{width:12px;}/*30min*/
.weekview .duration2:hover{min-width:27px; width:auto;}
.weekview .duration2{width:27px;}/*30min*/
.weekview .duration3:hover{min-width:41px; width:auto;}
.weekview .duration3{width:41px;}/*.75hr*/
.weekview .duration4:hover{min-width:55px; width:auto;}
.weekview .duration4{width:55px;}/*1hr*/
.weekview .duration5:hover{min-width:69px; width:auto;}
.weekview .duration5{width:69px;}/*90min*/
.weekview .duration6:hover{min-width:82px; width:auto;}
.weekview .duration6{width:82px;}/*90min*/
.weekview .duration7:hover{min-width:98px; width:auto;}
.weekview .duration7{width:98px;}/*1h45m or 105 minutes*/
.weekview .duration8:hover{min-width:112px; width:auto;}
.weekview .duration8{width:112px;}/*2hr or 120minutes*/
.weekview .duration9{width:126px;}/*2hr or 120minutes*/
.weekview .duration10{width:141px;}/*2.5hr*/
.weekview .duration11{width:155px;}/*2.5hr*/
.weekview .duration12{width:169px;}/*3hr*/
.weekview .duration13{width:183px;}/*3hr*/
.weekview .duration14{width:198px;}/*3.5hr*/
.weekview .duration15{width:212px;}/*3.5hr*/
.weekview .duration16{width:226px;}/*4hr*/
.weekview .duration17{width:240px;}/*4hr*/
.weekview .duration18{width:255px;}/*4hr*/
.weekview .duration19{width:232px;}/*4hr*/
.weekview .duration20{width:269px;}/*5hr*/
.weekview .duration21{width:283px;}/*5hr*/
.weekview .duration22{width:297px;}/*5hr*/
.weekview .duration23{width:312px;}/*5hr*/
.weekview .duration24{width:326px;}/*6hr*/
.weekview .duration25{width:340px;}/*6hr*/
.weekview .duration26{width:354px;}/*6hr*/
.weekview .duration27{width:369px;}/*7hr*/
.weekview .duration28{width:383px;}/*7hr*/
.weekview .duration29{width:397px;}/*7hr*/
.weekview .duration30{width:412px;}/*7hr*/
.weekview .duration31{width:426px;}/*7hr*/
.weekview .duration32{width:440px;}/*8hr*/
.weekview .duration33{width:454px;}/*8hr*/
.weekview .duration34{width:468px;}/*8hr*/
.weekview .duration35{width:483px;}/*8hr*/
.weekview .duration36{width:497px;}/*9hr*/
.weekview .duration37{width:511px;}/*9hr*/
.weekview .duration38{width:540px;}/*9hr*/
.weekview .duration39{width:540px;}/*9hr*/
.weekview .duration40{width:554px;}/*10hr*/

/* offset within a week day */
.weekview .btrack1 { top:0; }
.weekview .btrack2 { top:20px; }
.weekview .btrack3 { top:40px; }
.weekview .btrack4 { top:60px; }
.weekview .btrack5 { top:80px; }

/* height of an event box - corresponds to how many tracks an event spans */
.weekview .track1 { height:18px; margin:1px; white-space:nowrap; }
.weekview .track2 { height:38px; margin:1px; }
.weekview .track3 { height:58px; margin:1px; }
.weekview .track4 { height:78px; margin:1px; }
.weekview .track5 { height:98px; margin:1px; }

.weekview .rotate {
	/*display:block;*/
	position:relative;
	left:2px;
	height:85px;
	width:85px;
	-o-transform: rotate(-90deg);
	-xv-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
