body {
	background: #cccccc;
}
/*********************************************************RIGHT SIDE BAR SUPPORTERS */
#sidebar-right .sidebar-title {
	margin: 5px 0px;
	font-size: 1.1em;
	color: #666;
	text-align: center;
	text-transform: capitalize;
	font-weight: bold;
}
#sidebar-right .sidebar-title a{
	font-size: .8em;
	font-weight: normal;
}
#sidebar-right .event-title {
	margin: 0px 0px 10px;
	color: #333;
	font-weight: normal;
	font-size: .9em;
	line-height: 1.2em;
}
#sidebar-right .date-notify {
	vertical-align: top;
	padding: 0px 5px;
	margin:0px;
}
#sidebar-right .supporter-level {
	font-weight: bold;
	font-size: 10px;
	text-align: center;
	border-top: 1px solid #999;
}
#sidebar-right .supporter-level img {
	padding: 5px 0px;
}
#sidebar-right h3 {
	border-top: 1px solid rgb(0,84,117);
	margin-bottom: 5px;
	font-size: 10px;
	color: rgb(0,84,117);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
#sidebar-right img {
	/*margin: 3px 0px 3px 0px;*/
	margin: 5px auto;
}
#sidebar-right .right-sidebar-title {
	/*font-size: 120%;*/
	color:#666666;
	font-size:14px;
	text-transform: capitalize;
	font-weight: bold;
}
#sidebar-right {
	background: url(images/sidebar_bg_long.jpg) repeat-x;
	right: 10px;
}
#sidebar-right .right-sidebar-title a {
	font-size: 90%;
	text-transform: lowercase;
	font-weight: normal;
}
/*********************************************************MAIN MENU node and session title*/
#block-block-1 { /*main nav menu*/
	/*padding: 0 15px 0 0px;
    padding: 0px 5px 5px;*/
	/*font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;*/
	
}
#sidebar-left {/*parent of all main*/
	background: url(images/sidebar_bg_long.jpg) repeat-x;
	left:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	/*font-size:1.2em;*/
	color: #666;
	font-weight:bold;/*line-height:24px;*/
	line-height:.3em;
	
}
#sidebar-left #left-nav {
	padding: 0px 5px 5px;
}

#sidebar-left a h2 {/*main nav menu title-link*/
	/*color: #027AC6;*/
}
#sidebar-left a:hover h2 {/*main nav menu title-link*/
	/*color: #0062A0;*/
}


h2 {
/*   margin-top: 10px;
   margin-bottom: 10px;
   text-align: center;
   color: #cf4040;*/
   }
.menu-title {
   /*font-size: 120%;*/
   color:#069;
   font-size:1em;
   font-weight:bold;/*line-height:24px;*/
   margin-top: 5px;
   margin-bottom: 5px;
   padding-top: 5px;
   padding-bottom: 5px;
   }
.leftbar-item {
   /*padding: 4px 0 4px 0;*/
   }
.link-leftbar {
      /*margin: 10px 0px 10px 10px;
	  margin-left:0px;*/
	  font-size:.9em;
      }
#sidebar-left h3:hover {
	color: #09C;
	/*font-size:12px; */
 }
/*********************************************************EXPANDING MENU TITLES H3*/
/* #day-leftbar.closed, #session-leftbar.closed, #exhibit-leftbar.closed, #registration-leftbar.closed, #volunteer-leftbar.closed, #cfp-leftbar.closed, #committee-leftbar.closed {	
 background:url('./images/icons/plus-small.png') no-repeat top right;
 }*/
.closed, .open{cursor: pointer;}
.open h3{
   background:url('./images/icons/minus-small.png') no-repeat top right;
   }
.open h3:hover{
   background:url('./images/icons/minus-small_on.png')no-repeat top right;
   }
.closed h3 {
   background:url('./images/icons/plus-small.png') no-repeat top right;
   }
.closed h3:hover {
   background:url('./images/icons/plus-small_on.png') no-repeat top right;
   }
#left-nav li {
   /*padding: 3px 0 3px 0;*/
   /*line-height:10px;
   list-style: none;
   background: none !important;*/
   }
ol.link-leftbar  li {
  /*line-height:10px;
   padding: 12px 0 4px 0;
   margin-left:0px;*/
   margin-left:10px;
   line-height:10px;
   list-style: none;
   background: none !important;
   }

#left-nav .menu-heading {
   /*padding: 3px 0 5px 0;*/
   }
#left-nav .menu-subheading {
   /*margin: 3px 0 3px 5px;
   padding: 3px 0 3px 5px;*/
   }
   
.welcome-leftbar,
.week-leftbar,
.exhibit-leftbar,
.registration-leftbar {
      /*margin: 10px 0 10px 0;*/
      }

.hidden {
      display: none;
      }
.node {
	margin: 0 0px 1.5em;
}

h2.with-tabs {
	font-family:Verdana, Helvetica, sans-serif;
	color: #999;
}

/*********************************************************SUPPORTERS PAGE*/

.supporter-page .supporter-type {
	border-top: 1px solid rgb(0,84,117);
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 15px;
	color: rgb(0,84,117);
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.supporter-page img {
	width: 120px;
	margin: 3px 0px 10px 0px;
	text-align: center;
}
.supporter-page h3 {
	margin-bottom: 10px;
}
.view-supporters h3 {
	border-top:1px solid #999; 
}
/*********************************************************HEADER REGION*/
#header-region #header_bar {
	margin:0 auto;
    position: absolute;
	padding: 0px;
	z-index: 1;
}
#header_bar #header_text {
	display:none;
}
#header_bar #sponsor {
	position: absolute;
	left: 740px;
	top:90px;
	white-space:nowrap;
}
#header_bar #sponsor img{
	vertical-align: middle;
}
#header_bar #countdown {
	position: absolute;
	left: 760px;
	bottom: 0px;
	height:50px;
	width:200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.countdown_number {
	font-size: 42px;
	color: #999999;
	float:left;
	margin-right:4px;
}
.countdown_text {
	position: absolute;
	font-size: 12px;
	color: #878E94;
	font-variant: small-caps;
	bottom: 0px;
	
}
#header_bar #image {
	position: absolute;
	left: 460px;
	top: 10px;
}
#header-region #block-search-0 {
	position: absolute;
	left: 60px;
}

#header-region {
	margin:0 auto;
	height: 200px;
	padding: 0px;
	width: 1000px;
}
#header-region .block {
	/*display: block;*/
	position: relative;
	padding: 0;
	margin:0 auto;
	height: 200px;
	width: 1000px;
	z-index: 0;
}
.image-rotation {
	left: 440px;
	position: absolute;
	top: -20px;
	margin-bottom: 0;
	z-index: 1;
}
#sponsors {
	left: 720px;
	position: absolute;
	top: 70px;
	width: 240px;
	margin-bottom: 0;
	z-index: 2;
}
#sponsors img {
	float: left;
}
#wrapper #container #header {
	height: 0px !important;
}

/*********************************************************WELCOME PAGES */
.highlight-box {
	background-color: #99ccff;
}
/*********************************************************SEARCH BOX*/
#search-block-form {
padding: 0px 5px;
text-align:center;
white-space:nowrap;
}

.search-advanced .action {
width:100%;	
/*clear:none;
float:left;
margin:10px 0px;
background:url(images/search-on.gif) no-repeat 10px 4px;
border:1px solid #ccc;
height:20px;*/
}
#search-form .action input.form-submit{
/*clear:none;
float:left;*/
text-align:center;
width:100%;
height:16px;
background:url(images/search.png) no-repeat center #069;
/*border:1px solid #069;*/
}
#search-form .action input.form-submit:hover{
background:url(images/search.png) no-repeat center #09C;

}
.search-advanced .form-checkbox {
margin:0;
text-align:left;
width:10px;
}
.search-advanced .fieldset-wrapper .criterion {
width:100%;
margin:0;
/*border: 1px solid #666;*/
}

.search-advanced .fieldset-wrapper .criterion label{
white-space:nowrap;
float:left;
text-align:right;
padding-right:5px;
width:210px;
}

.search-advanced .fieldset-wrapper .criterion .option{
/*width:43%;
white-space:nowrap;*/
float:right;
text-align:left;
margin:0 30px 0 0px;
/*border:1px solid #666;
clear:both;*/
}

#edit-search-block-form-1, .search-form input  {/* search text field*/
	font: .8em Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	border: solid #09C 1px;
	width: 174px;
	padding: 0;
	height: 14px;
	vertical-align:middle;
	background-color: #fff;
}
#search-block-form input.form-submit, #search-form input.form-submit {/* search button image from http://mydrupalblog.lhmdesign.com/theming-search-submit-button-css-cross-browser-compatible-solution*/
height: 16px;
width: 16px;
cursor: pointer;
text-indent: -9999px;
border: 0;
position:relative;
left:-5px;
vertical-align:middle;
background: url(images/search-off.png) no-repeat left top;
}
#search-block-form input.form-submit:hover, #search-form input.form-submit:hover{
background: url(images/search-on.png) no-repeat;
}
#IEroot .block-search input.form-submit, #IEroot #search-form input.form-submit {
width: 26px;/*add 10 to search image width*/
font-size: 0;
color: #fff;
text-align: right;
}
#IEroot #search-form .search-advanced input.form-submit {
width: 36px;/*add 20 to search image width*/
text-indent: 0;
}
fieldset {
	background: url(images/sidebar_bg_long.jpg) repeat-x;
	border-color:#ccc
}


/*********************************************************WYSIWYG*/
img.image-left {
	float: left;
	padding: 0px 3px 10px 5px;
}
img.image-right {
	float: right;
	padding: 0px 5px 10px 3px;
}

/*********************************************************ADMIN*/
div.view div.views-admin-links ul {
	padding-right:24px;
	margin-top:-2px;
	text-align:right;
}

#admin-leftbar {
	border-bottom:1px dashed #999;
	/*border-bottom:1px solid #069;
	padding: 0 5px;*/
}
.block-region {
	border:1px dashed;
	color:#CCC;
}
.empty-text {
   /*text-align: center;*/
   margin: 30px 0px 30px 0px;
   /*padding:30px;*/
   color: #666;
   font-size: 14px;
}
 
/*********************************************************LOGIN*/
.tab-loggedout {
}
/* sliding panel */
#toppanel {
    /*top: -4px;*/
	width:100%;
}
/*********************STACKED LOGIN*/
.tab ul.login {
	right: 20px;
}
#panel .links a{
	color: #DDFFFF;
	
}
#panel .links a:hover {
	text-decoration: underline;
}


/*HORIZONTAL LOGIN FORM
#panel .links {
	margin: 0 0 0 0px;
	vertical-align:middle;
	border: 1px solid white;
}*/
#panel {
	height: 40px;
}
#panel .block {
	margin:0 30px 0 0;
}
#panel .content .links #pass, #panel .content .links #register {
	float:left;
	white-space:nowrap;
	line-height:130%;
}
#panel .content {
	margin: 10px auto 0px auto;
	width:1000px;
	align:right;
	white-space:nowrap;
}
#panel #edit-name-wrapper, #panel #edit-pass-wrapper {
width:auto;
margin:0 0;
white-space:nowrap;
}
#panel label{
	float:left;
	width:70px;
	text-align:right;
	padding:2px;
	clear:none;
}
#panel input {
margin-right:0px;
float:right;
}
#panel #login-form {
	width:auto;
}
#panel input#edit-submit {
	margin:0 5px;
}
#panel input#edit-submit:hover {
	background-image: url(slider_images/bt_login_o.png);
}

/*VERTICAL LOGIN FORM*/
/* 
#panel {
	height: 100px;
}
#panel .content {
	margin-top:10px;
	width:310px;
float:right;
}

#panel #edit-name-wrapper, #panel #edit-pass-wrapper {
clear:both;
width:100%;
margin:0 0;
text-align:right;
white-space:nowrap;
}
#panel .form-item {
margin:0;
}
#panel input {

margin-right:0px;

}
#panel label{
	width:100px;
	text-align:right;
	padding:2px;
	clear:none;
}
#panel .links {
margin-left:20px;
position:relative;
top:-24px;

}
#panel input#edit-submit {
	float:right;
clear:both;
}
#panel input#edit-submit:hover {
	background-image: url(slider_images/bt_login_on.png);
}
#panel form#user-login {

}
#panel #login-form {
	margin:0;
}
*/