/* hover window */^M
.popup .title {^M
   color:    #cf4040;^M
   font-size: 120%;^M
   text-align: center;^M
   }^M
.popup .subtitle {^M
   text-align: center;^M
   color: #538fbf;^M
   }^M
.popup .label {^M
   width: 80px;^M
   font-weight: bold;^M
   }^M
^M
div#calpopup {^M
  display: block;^M
  border: thin solid gray;^M
  /* This is css3 stuff that will not work in IE<=8.^M
   * What is here is a curved border for firefox and webkit^M
   * and a drop shadow that will only appear in webkit.^M
  **/^M
  -moz-border-radius: 1em;^M
  -webkit-border-radius: 1em;^M
  -webkit-box-shadow: 10px 10px 5px #888;^M
  /* End CSS3 stuff */^M
  background-color: rgb(223,223,223);^M
  width: 22%;^M
  position: absolute;^M
  top: 10em;^M
  left: 10em;^M
  ^M
  /* CSS to make sure that the popup is on top */^M
  z-index: 800;^M
}^M
^M
div#calpopup-body div.node {^M
  margin: 0;^M
  border: 0;^M
}^M
^M
div#calpopup-body {^M
  margin: 1em;^M
  max-height: 20em;^M
  overflow-y: auto;^M
  /* IE7 Hack ^M
   * This keeps the date from sticking in one place while scrolling.^M
   */^M
  position: relative;^M
}^M
^M
#popup-close {^M
  text-align: right;^M
  padding: 1em 1em 0 1em;^M
}^M
^M
div#nodelink {^M
  margin: 1em;^M
}^M
img#popthrobber {^M
  text-align: center;^M
  margin: 3em;^M
}
