.schedule {
  max-width: 1140px;
  max-height: 1200px;
  display: grid;
  gap: 0.5em;
  grid-template-rows: 0.2fr [tracks] auto 
    /* [time-0830] 4fr 
    [time-0930] 1fr 
    [time-0945] 1fr  */
    [time-0900] 2fr 
    [time-0930] 2fr 
    [time-1000 time-1005] 1fr 
    [time-1015] 1fr 
    [time-1030] 1fr 
    [time-1045] 1fr 
    [time-1100] 1fr 
    [time-1115 time-1120] 1fr 
    [time-1130 time-1125] 1fr 
    [time-1145] 1fr 
    [time-1200] 1fr 
    [time-1215] 1fr 
    [time-1230] 1fr 
    [time-1245 time-1240] 1fr 
    [time-1300] 1fr 
    [time-1315 time-1317 time-1320] 1fr 
    [time-1330 time-1320 time-1317] 1fr 
    [time-1345] 1fr 
    [time-1400] 1fr 
    [time-1415] 1fr 
    [time-1430] 1fr 
    [time-1445] 1fr 
    [time-1500] 1fr 
    [time-1515 time-1510 ] 1fr 
    [time-1530] 1fr 
    [time-1545] 1fr 
    [time-1600] 1fr 
    [time-1615] 1fr 
    [time-1630] 1fr 
    [time-1645] 1fr 
    [time-1700] 2fr
    [time-1730] 2fr
    [time-1800] 2fr
    [time-1830];
  grid-template-columns: [times] 5em [day-1-start] 1fr [day-1-end day-2-start] 1fr [day-2-end day-3-start] 1fr [day-3-end day-4-start] 1fr [day-4-end day-5-start] 1fr [day-5-end day-6-start] 1fr [day-6-end timezones] 5em [timezones-end]
}

#curr-time-indicator-line,
#curr-time-indicator-label {
  display: none;
  color: rgb(106, 168, 104)
}

#curr-time-indicator-line {
  border-color: rgb(106, 168, 104)
}

#curr-time-indicator-line::after {
  border-color: rgb(106, 168, 104) !important
}

.schedule-header {
  max-width: 1140px;
  display: grid;
  gap: 0.5em;
  grid-template-rows: 0.2fr [timezones] auto;
  grid-template-columns: [times] 5em [day-1-start] 1fr [day-1-end day-2-start] 1fr [day-2-end day-3-start] 1fr [day-3-end day-4-start] 1fr [day-4-end day-5-start] 1fr [day-5-end day-6-start] 1fr [day-6-end timezones] 5em [timezones-end]
}

.schedule.schedule-day {
  grid-template-columns: [times] 5em [room-0_11_0_12-start] 1fr [room-0_11_0_12-end room-0_94_0_95-start] 1fr [room-0_94_0_95-end room-0_96_0_97-start] 1fr [room-0_96_0_97-end room-1_14-start] 1fr [room-1_14-end room-1_15_1_16-start] 1fr [room-1_15_1_16-end room-1_32_1_33-start] 1fr [room-1_32_1_33-end room-1_61_1_62-start] 1fr [room-1_61_1_62-end room-1_85_1_86-start] 1fr [room-1_85_1_86-end room-e1-start] 1fr [room-e1-end room-e2-start] 1fr [room-e2-end room-e1_e2-start] 1fr [room-e1_e2-end room-m1-start] 1fr [room-m1-end room-m2-start] 1fr [room-m2-end room-foyer_e-start] 1fr [room-foyer_e-end timezones-start] 5em [timezones-end]
}

#calendar-Sunday, #calendar-Monday {
  grid-template-columns: 
  [times] 5em 
  [room-0_11_0_12-start] 1fr 
  [room-0_11_0_12-end room-1_14-start] 1fr 
  [room-1_14-end room-1_15_1_16-start] 1fr 
  [room-1_15_1_16-end room-1_32_1_33-start] 1fr 
  [room-1_32_1_33-end room-1_61_1_62-start] 1fr 
  [room-1_61_1_62-end room-1_85_1_86-start] 1fr 
  [room-1_85_1_86-end room-m1-start] 1fr 
  [room-m1-end room-m2-start] 1fr 
  [room-m2-end timezones-start] 5em 
  [timezones-end]
}

#calendar-Tuesday {
  grid-template-columns: [times] 5em [room-e1_e2-start] 1fr [room-e1_e2-end timezones-start] 5em [timezones-end]
}

#calendar-Wednesday {
  grid-template-columns: [times] 5em 
  [room-0_11_0_12-start] 1fr 
  [room-0_11_0_12-end room-0_94_0_95-start] 1fr 
  [room-0_94_0_95-end room-1_14-start] 1fr 
  [room-1_14-end room-e1-start] 1fr 
  [room-e1-end room-e2-start] 1fr 
  [room-e2-end room-m1-start] 1fr 
  [room-m1-end room-m2-start] 1fr 
  [room-m2-end room-foyer_e-start] 5em 
  [room-foyer_e-end timezones-start] 5em 
  [timezones-end]
}

#calendar-Thursday {
  grid-template-columns: [times] 5em 
  [room-0_11_0_12-start] 1fr 
  [room-0_11_0_12-end room-0_94_0_95-start] 1fr 
  [room-0_94_0_95-end room-1_14-start] 1fr 
  [room-1_14-end room-e1-start] 1fr 
  [room-e1-end room-e2-start] 1fr 
  [room-e2-end room-m1-start] 1fr 
  [room-m1-end room-m2-start] 1fr 
  [room-m2-end timezones-start] 5em 
  [timezones-end]
}

#calendar-Friday {
  grid-template-columns: [times] 5em 
  [room-0_11_0_12-start] 1fr 
  [room-0_11_0_12-end room-0_94_0_95-start] 1fr 
  [room-0_94_0_95-end room-0_96_0_97-start] 1fr 
  [room-0_96_0_97-end room-1_14-start] 1fr 
  [room-1_14-end room-e1_e2-start] 1fr 
  [room-e1_e2-end timezones-start] 5em 
  [timezones-end]
}

.tz {
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  padding-bottom: 2em
}

.tz-title {
  font-weight: 700
}

.tz-right {
  align-items: flex-end;
  align-content: stretch;
  grid-column: span 3 / timezones-end;
  grid-row: timezones;
  align-self: end
}

.tz-right .dropdown.bootstrap-select {
  width: 300px !important
}

.filter {
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  padding-bottom: 2em
}

.filter-title {
  font-weight: 700
}

.day-slot,
.time-slot,
.day-slot h2 {
  margin: 0 !important;
  font-size: 1.1em;
  font-weight: 400;
  color: var(--text-dark-color)
}

.day-slot h2 a {
  color: var(--text-dark-color)
}

.day-slot h2 a:hover {
  color: var(--text-dark-color)
}

.time-slot.converted-timezone,
.tz:not(.tz-right) {
  color: var(--vis2025-blue)
}

.day-slot {
  padding-bottom: 0.5em;
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted var(--vis2025-blue)
}

.day-slot a {
  cursor: pointer
}

.time-slot:not(.converted-timezone) {
  grid-column: timezones;
  text-align: right
}

.session {
  padding: 0.5em 0.5em 0.5em 0.5em;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer
}

.day-slot a:hover,
.session-group:hover,
:not(.session-group)>.session:hover {
  opacity: 0.85
}

.session.session-minimal {
  padding: 0.4em
}

.session-group {
  justify-self: center;
  display: flex;
  gap: 0.25em
}