<footer class="footer text-white">

    <!-- Edit Page / Report Issue -->
    <div class="py-4 border-t border-gray-500 text-gray-500 text-sm text-center">
        <div class="container">
            Problems with this webpage? Contact
            <a href="mailto:{{ page.contact | default: site.email }}" class="link">{{ page.contact | default: site.email }}</a>,
            <a href="{{ site.github_repository }}/issues/new/?title={{ "Fix content problem on " | append: page.permalink | append: ".md" | url_encode }}" target="_blank" class="link">file a bug</a>.
        </div>
    </div>

    <!-- Footer Starts -->
    <div class="bg-secondary-700">
        <div class="container py-12 md:py-16 flex flex-col md:flex-row">
            <div class="footer__header flex flex-col sm:flex-1 flex-initial pr-0 md:pr-10 lg:pr-16 mb-4 md:mb-0 pb-8 md:pb-0
                        md:border-r border-r-0 md:border-b-0 border-b border-dashed">
                <div>
                <a href="/">
                    <img src="{{ '/assets/vis2019_logo-white.svg' | relative_url }}" alt="VIS 2019" width="150">
                </a>
                <p class="uppercase mt-6">The premier forum for advances in visualization</p>
            </div>
                <a href="{{ site.data.footer.code_of_conduct.url }}" class="footer__heading mt-8 md:mt-auto whitespace-no-wrap">{{ site.data.footer.code_of_conduct.heading }}
                    <!--<i class="material-icons align-middle">
                        arrow_right_alt
                      </i>-->
                </a>
            </div>

            {% for column in site.data.footer.columns %}
                <div class="sm:flex-1 flex-initial px-0 md:pl-10 lg:pl-16 mt-8 md:mt-0">
                    {% for section in column.section %}
                        <p class="footer__heading">{{ section.heading }}</p>
                        {% if section.display_style == "inline" %}
                            <div class="relative overflow-hidden md:-ml-0 -ml-1">
                                <ul class="flex flex-row flex-wrap -ml-px">
                                    {% for link in section.links %}
                                        <li class="footer__inline-link">
                                            <a class="footer__link" href="{{ link.url }}">{{ link.text }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            <ul class="mb-6">
                                {% for link in section.links %}
                                    <li><a class="footer__link" href="{{ link.url }}">{{ link.text }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="bg-secondary-800 py-8">
        <div class="container">
            <div class="flex mb-6">
                <a class="footer__logo" href="https://www.ieee.org" target="_new">
                    <img height="35" src="{{ '/assets/theme/ieee-logo-white.svg' | relative_url }}" alt="IEEE">
                </a>
                <a class="footer__logo" href="https://www.computer.org" target="_new">
                    <img height="35" src="{{ '/assets/theme/ieee-cs-logo-white.svg' | relative_url }}" alt="IEEE Computer Society">
                </a>
                <a class="footer__logo" href="http://vgtc.org" target="_new">
                    <img height="35" src="{{ '/assets/theme/ieee-vgtc-logo-white.svg' | relative_url }}" alt="IEEE Visualization and Graphics Technical Community">
                </a>
            </div>

            <div class="flex flex-col lg:flex-row justify-between uppercase text-sm">
                <div>
                    <span>&copy; {{ site.year }} IEEE. Sponsored by the IEEE Computer Society Visualization and Graphics Technical Committee.</span>
                </div>
                <div class="mt-4 lg:mt-0">
                    <a class="footer__link" href="https://www.ieee.org/security-privacy.html" target="_new">IEEE Privacy Policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>
