<div id="footer">
  <div style="position: absolute; top: -20px; left: 255px; font-size: .8em">
    Problems with this webpage? contact {{ page.contact }}.
  </div>
  <div id="block-block-4" class="clear-block block block-block">
    <div class="content">
      <div class="footer-image"><img src="http://ieeevis.org//tmp/VIS-webbanner2015-footer.jpg" alt="VIS 2016 footer"/></div><div class="footer-message"> © 2016 IEEE. Sponsored by the IEEE Computer Society Visualization and Graphics Technical Committee.
      </div>
    </div>
  </div>
</div>
