<div id="footer">
  <div style="position: absolute; top: -20px; left: 255px; font-size: .8em">
    Problems with this webpage? contact <a href="mailto:{{page.contact}}">{{ page.contact }}</a>, <a id="file-bug-anchor" href="#">file a bug</a>, or <a id="pull-request-anchor" href="#">suggest a fix</a>. <span class="faint clickable" id="debug-button">#</span>
  </div>
  <div id="block-block-4" class="clear-block block block-block">
    <div class="content">
      <div class="footer-image"><img src="/assets/VIS-webbanner2019-footer.jpg" alt="VIS 2019 footer"/></div><div class="footer-message"> © 2019 IEEE. Sponsored by the IEEE Computer Society Visualization and Graphics Technical Committee.<br><a href="https://www.ieee.org/security-privacy.html">IEEE Privacy Policy</a>
      </div>
    </div>
  </div>
  <script>
    loadSponsors();
    runMainScript();
  </script>
</div>
