<div id="footer">
  <div style="position: absolute; top: -20px; left: 255px; font-size: .8em">
    Problems with this webpage? contact <a href="mailto:{{page.contact}}">{{ page.contact }}</a>.
  </div>
  <div id="block-block-4" class="clear-block block block-block">
    <div class="content">
      <div class="footer-image"><img src="/assets/VIS-webbanner2017-footer.jpg" alt="VIS 2017 footer"/></div><div class="footer-message"> © 2017 IEEE. Sponsored by the IEEE Computer Society Visualization and Graphics Technical Committee.
      </div>
    </div>
  </div>
  <script>
    loadSponsors();
  </script>
</div>
