<div id="sidebar-left" class="sidebar">
  <div id="block-block-23" class="clear-block block block-block">
    <div class="content">
      <div id="left-nav">
	<div class="welcome-leftbar">
	  <div class="menu-title"><a href="/">Welcome</a></div>
	</div>
	
	<div id="sessions-leftbar" class=" blank">
	  <h3 class="menu-title">Registration and Travel</h3>
	  <ol class="link-leftbar"> 
      	    <li><a href="/year/2019/info/registration/conference-registration">Conference Registration</a></li>
	    <li><a href="/year/2019/info/registration/hotel-information">Hotel Information</a></li>
	    <li><a href="/year/2019/info/registration/travel-visas">Visas &amp; Travel Authorizations</a></li>  
	    <!-- <li><a href="/year/2019/info/registration/travel-information">Travel Information</a></li> -->
	    <!-- <li><a href="/year/2017/info/registration/visa-assistance">Visa Assistance</a></li> -->
	    <!-- <li><a href="/year/2017/info/registration/travel-directions">Travel Directions</a></li> -->
	  </ol>
  </div>
	
	<div id="sessions-leftbar" class=" blank">
          <h3 class="menu-title">IEEE VIS Program</h3>
	  <ol class="link-leftbar">
	    <!-- <li><a href="/attachments/VIS2018_AAG.pdf">VIS2018 AT-A-GLANCE</a></li> -->
	    <!-- <li><a href="/attachments/vis18-program.pdf">Full Program</a></li> -->
		<li><a href="/year/2019/info/week-at-a-glance">Full Program</a></li>
    <!--<li><a href="/attachments/VIS-2019-Pocket-Program.pdf">Current Program</a></li>-->
	    <!-- <li><a href="http://www.visinpractice.rwth-aachen.de/guide.html">Practitioner Guide</a></li> -->
	    <li><a href="/year/2019/keynote">Keynote Address</a></li>
	    <li><a href="/year/2019/capstone">Capstone Address</a></li>
		<!-- <li><a href="/year/2018/info/papers">Accepted Papers List</a></li> -->
		<li><a href="/year/2019/info/papers-sessions">Papers Sessions</a></li>
	    <li><a href="/year/2019/info/posters">Posters</a></li>
	    <li><a href="/year/2019/info/workshops">Workshops</a></li>
	    <li><a href="/year/2019/info/application-spotlights">Application Spotlights</a></li> 
            <!-- <li><a href="/year/2018/info/pre-approved-events-schedule">Pre-approved events schedule</a></li>  -->
		<li><a href="/year/2019/info/tutorials">Tutorials</a></li>
	    <li><a href="/year/2019/info/panels">Panels</a></li>	  
	    <li><a href="/year/2019/info/doctoral-colloquium">Doctoral Colloquium</a></li>
	    <li><a href="/year/2019/info/meetups">Meetups</a></li>
	    <!-- <li><a href="https://vimeo.com/groups/480818">FF Videos</a></li> -->
	    <!-- <li><a href="/year/2018/info/scivis-contest">SciVis Contest</a></li> -->
	    <!-- <li><a href="/year/2018/info/vast-challenge-program">VAST Challenge</a></li> -->
      <!-- </ol> -->
	</div>

	<div>
	  <h3 class="menu-title">Participant Information</h3>
	  <ol class="link-leftbar">
	    <li><a href="/year/2019/info/presenter-information/speakers-and-presenters">Speakers and Presenters</a></li>
	    <!-- <li><a href="/year/2018/info/presenter-information/fast-forward-and-video-previews">Fast Forward and Video Previews</a></li> -->
            <!-- <li><a href="/year/2017/info/inclusivity">Inclusivity</a></li> -->
	    <!-- <li><a href="/year/2018/info/call-participation/community#vis-buddies">Vis Buddies</a></li> -->
	    <!-- <li><a href="/year/2018/info/call-participation/community#ajf">Job Fair</a></li> -->
	    <!-- <li><a href="/year/2017/info/registration/sharing">Room and Ride Sharing</a></li> -->
	  </ol>
	</div>
	
	<!-- <div> -->
	  <!-- 	<h3 class="menu-title">Full Program</h3> -->
	  <!-- 	  <ol class="link-leftbar"> -->
	    <!-- <li> <a href="/attachments/vis17-program-final.pdf">Full Program</a></li> -->
	    <!-- <li> <a href="/attachments/vis17-badgeinsert.pdf">Pocket Program</a></li> -->
	    <!-- <\!--      <li> <a href="/year/2017/info/week-at-a-glance">Week-at-a-Glance</a></li> -\-> -->
	      <!-- <li> <a href="/year/2017/info/overview-amp-topics/practitioner-guide/pg">Practitioner Guide</a></li> -->
	      <!-- 	  </ol> -->
	  <!-- </div>  -->
	
	<div id="awards-leftbar" class=" blank">
          <h3 class="menu-title">Awards and Recognitions</h3>
      	  <ol class="link-leftbar">
            <!-- <li><a href="/year/2018/info/awards/test-of-time-awards">Test of Time Awards</a></li> -->
			  <li><a href="/year/2019/info/awards/best-paper-awards">Best Paper Awards</a></li>
			  <li><a href="/year/2019/info/awards/best-poster-awards">Best Poster Awards</a></li>
	    <!-- <li><a href="http://vgtc.org/content/visualization-technical-awards"> VGTC VIS Awards </a></li>	     -->
       	    <!-- <li><a href="/year/2018/info/awards/best-poster-awards">Best Poster Awards</a></li>	   -->
	    <!-- <li><a href="/year/2018/info/awards/vast-challenge-awards">VAST Challenge Awards</a></li> -->
	    <!-- <li><a href="/year/2018/info/awards/best-scivis-contest">SciVis Contest Awards</a></li> -->
	    <!-- <li><a href="/year/2018/info/vgtc-vis-awards">VGTC VIS Awards</a></li> -->
	    <!-- <li><a href="/year/2018/info/awards/service-awards">Service Awards</a></li> -->
      <!-- </ol> -->
	</div>
	 
	<div id="supporters-leftbar">
	   <h3 class="menu-title"><a href="/year/2019/info/exhibition/supporters-and-exhibition">Supporters and Exhibition</a></h3>
	</div>
	      
	<div id="cfp-leftbar" class="_blank">
	  <h3 class="menu-title">Call for Participation</h3>
	  <ol class="link-leftbar">
	    <!-- <li><a href="/year/2018/info/important-dates">Important Dates</a></li>  -->
	    <li><a href="/year/2019/info/call-participation/call-for-participation">Papers</a></li>
	    <!-- <li>  -->
	      <!--   <a href="/year/2019/info/call-participation/vast-paper-types">VAST</a> &#183;  -->
	      <!--   <a href="/year/2019/info/call-participation/infovis-paper-types">InfoVis</a> &#183;  -->
	      <!--   <a href="/year/2019/info/call-participation/scivis-paper-types">SciVis</a></li>  -->
	    <!-- <li><a href="/year/2019/info/call-participation/partnerships">Partnerships: TVCG/CG&amp;A</a></li> -->
	    <li><a href="/year/2019/info/call-participation/shortpapers">Short Papers</a></li>
	    <li><a href="/year/2019/info/call-participation/posters">Posters</a></li>
	    <li><a href="/year/2019/info/call-participation/tutorials">Tutorials</a></li>
	    <li><a href="/year/2019/info/call-participation/workshops">Workshops</a></li>
	    <li><a href="/year/2019/info/call-participation/panels">Panels</a></li>
	    <li><a href="/year/2019/info/call-participation/doctoral-colloquium">Doctoral Colloquium</a></li>
	    <li><a href="/year/2019/info/presenter-information/fast-forward-and-video-previews">Fast Forward and Video Previews</a></li>
	    <li><a href="/year/2019/info/call-participation/meetups">Meetups</a></li>
	    <li><a href="/year/2019/info/call-participation/community">Community</a></li>
	    <li><a href="/year/2019/info/inclusion-and-diversity/viskids-child-care-grants">VisKids Childcare Grants</a></li>
      <li><a href="/year/2019/info/inclusion-and-diversity/diversity-scholarship">Inclusivity & Diversity Scholarship</a></li>
	    <!-- <li><a href="http://vacommunity.org/ieeevpg/bestthesis/">VPG Doctoral Dissertation Contest</a></li>  -->
	  </ol>
	</div>
	      
	<div id="newFor2019-leftbar" class="_blank">
	  <h3 class="menu-title">New for 2019&excl;</h3>
	  <ol class="link-leftbar">
	    <li><a href="/year/2019/info/call-participation/application-spotlights-cfp">Application Spotlights</a></li> 
	    <li><a href="/year/2019/info/open-practices/open-practices">Open Practices</a></li> 
	  </ol>
	</div>
	
	<div>
	  <h3 class="menu-title">Associated Events</h3>
       	  <ol class="link-leftbar">
	          <li><a href="https://visualanalyticshealthcare.org/">VAHC: Visual Analytics in Healthcare</a></li>
	          <li><a href="http://www.visualdatascience.org/2019/index.html">VDS: Vis in Data Science</a></li>
	          <li><a href="http://www.vis4dh.org/">VIS4DH: Vis for the Digital Humanities</a></li>
            <li><a href="http://ldav.org/">LDAV: Large Data Analysis & Vis</a></li>
      	    <li><a href="https://visinpractice.github.io/">VisInPractice</a></li>
	          <li><a href="https://vizsec.org/vizsec2019/">VizSec</a></li>
            <li><a href="https://vast-challenge.github.io/2019">VAST Challenge</a></li>
            <li><a href="http://biovis.net/2019/ieeevis/">BioVis Challenges</a></li> 
            <li><a href="https://press3.mcs.anl.gov/2019-scivis-contest/">SciVis Contest</a></li>
            <li><a href="https://visap.net/">VIS Arts Program</a></li> 
            <li><a href="https://www.gicentre.net/velo-club-de-vis/">Velo Club de VIS</a></li>
            <li><a href="http://vacommunity.org/ieeevpg/">Vis Pioneers Group</a></li>
       	  </ol>
       	</div>
	
	<div id="equity-leftbar" class="_blank">
	  <h3 class="menu-title">Equity, Inclusion, & Diversity</h3>
	  <ol class="link-leftbar"> 
	    <li><a href="/year/2019/info/inclusion-and-diversity/open-conference">IEEE Computer Society Open Conference Statement</a></li> 
	    <li><a href="/year/2019/info/inclusion-and-diversity/event-conduct-safety">IEEE Event Conduct and Safety Statement</a></li>
	    <li><a href="/year/2019/info/inclusion-and-diversity/code-of-conduct">IEEE VIS Code of Conduct</a></li>      
	  </ol>
	</div>
	      
	<div id="inclusion-leftbar" class="_blank">
	  <h3 class="menu-title">Inclusivity Programs</h3>
	  <ol class="link-leftbar"> 
	    <li><a href="/year/2019/info/inclusion-and-diversity/inclusivity">About</a></li>
	    <li><a href="/year/2019/info/inclusion-and-diversity/viskids-event">VisKids</a></li>
	    <li><a href="/year/2019/info/inclusion-and-diversity/diversity-scholarship">Inclusivity & Diversity Scholarship</a></li>
	  </ol>
	</div>
	
	<!-- <div> -->
	  <!--   <h3 class="menu-title">Co-located Events</h3> -->
	  <!--   <ol class="link-leftbar"> -->
	    <!--       <li><a href="http://informationplusconference.com">Information+ Conference </a></li> -->
	    <!--       <li><a href="https://uist.acm.org/uist2018">UIST 2018</a></li> -->
	    <!--   </ol> -->
	  <!-- </div> -->

	<div id="sv-leftbar" class="_blank">
	  <h3 class="menu-title">Student Volunteers</h3>
	  <ol class="link-leftbar">
	     <li><a href="http://vissv.org" target="_blank">Information</a></li> 
             <li><a href="https://forms.gle/Qs8YPsP6hfJo2hGQ8" target="_blank">Apply</a></li>
	     <li><a href="http://vissv.org/shirtcontest.html" target="_blank">T-Shirt Design Contest</a></li>
	  </ol>
	</div>
	
	<div id="committee-leftbar">
	  <h3 class="menu-title">Committees</h3>
	  <ol class="link-leftbar">
	    <li><a href="/year/2019/info/committees/conference-committee">VIS Conference Committee</a></li>
	    <li>Program Committees</li>
	    <li><a href="/year/2019/info/committees/vast-program-committee">VAST</a> &#183;
		      <a href="/year/2019/info/committees/infovis-program-committee">InfoVis</a> &#183;
	      	<a href="/year/2019/info/committees/scivis-program-committee">SciVis</a>
	      </li>
	    <li>Steering Committees</li>
	    <li>
	        <a href="/year/2019/info/committees/vast-steering-committee">VAST</a> &#183;
	        <a href="/year/2019/info/committees/infovis-steering-committee">InfoVis</a> &#183;
	        <a href="/year/2019/info/committees/scivis-steering-committee">SciVis</a>
	    </li>
	    <li><a href="/year/2019/info/committees/vis-executive-committee">VIS Executive Committee</a></li>
	    <li><a href="/governance/restructuring">Restructuring</a></li>
	    <!-- <li><a href="http://vgtc.org/executive-committee">VGTC Executive Committee</a></li> -->
	  </ol>
	</div>
	
	<!-- <div>  -->
	  <!--   <h3 class="menu-title">Surveys</h3>  -->
	  <!--   <ol class="link-leftbar">  -->
	    <!--     <li><a href="https://www.surveymonkey.com/r/ieeevis">Conference Survey</a></li>  -->
	    <!--   </ol>  -->
	  <!-- </div>  -->
	
	<p></p>
	<div id="archive-leftbar">
	  <h3 class="menu-title">Previous Years</h3>
	  <ol class="link-leftbar">
	    <li>
	      <a href="/year/2018/welcome">2018</a> &#183;
	      <a href="/year/2017/welcome">2017</a> &#183;
	      <a href="/year/2016/info/vis-welcome/welcome">2016</a> &#183;
	      <a href="/year/2015/info/vis-welcome/welcome">2015</a>
	    </li>
	    <li>
	      <a href="/year/2014/info/vis-welcome/welcome">2014</a> &#183;
	      <a href="/year/2013/info/vis-welcome/welcome">2013</a> &#183;
	      <a href="/year/2012/info/call-participation/welcome">2012</a> &#183;
	      <a href="/year/2011/info/call-participation/welcome">2011</a>
	    </li>
	    <li>
	      <a href="http://vis.computer.org/VisWeek2010/">2010</a>  &#183;
	      <a href="http://vis.computer.org/VisWeek2009/">2009</a>  &#183;
	      <a href="http://vis.computer.org/VisWeek2008/">2008</a> &#183;
	      <a href="http://vis.computer.org/vis2007/">2007</a>
	    </li>
	    <li>
	      <a href="http://vis.computer.org/vis2006/">2006</a> &#183;
	      <a href="http://vis.computer.org/vis2005/">2005</a> &#183;
	      <a href="http://vis.computer.org/vis2004/">2004</a> &#183;
	      <a href="http://vis.computer.org/vis2003/">2003</a>
	    </li>
	    <li>
	      <a href="http://vis.computer.org/vis2002/">2002</a> &#183;
	      <a href="http://vis.computer.org/vis2001/">2001</a> &#183;
	      <a href="http://www.hpc.msstate.edu/conferences/vis00/">2000</a> &#183;
	      <a href="http://www.hpc.msstate.edu/conferences/vis99/">1999</a>
	    </li>
	    <li>
	      <a href="http://www.hpc.msstate.edu/conferences/vis98/">1998</a> &#183;
	      <a href="http://www.hpc.msstate.edu/conferences/vis97/">1997</a> &#183;
	      <a href="http://www.hpc.msstate.edu/conferences/vis96/">1996</a>
	    </li>
	  </ol>
	</div>


	<div class="menu-title">
	  <a href="/year/2019/info/future-locations">Upcoming Years</a>
	</div>
      
      <div id="social-leftbar" class="_blank">
      	<h3 class="menu-title">Social media</h3>
      	<ol class="link-leftbar">
      	  <li>Like us on <a href="https://www.facebook.com/ieeevis">Facebook</a></li>
      	  <li>Follow us on <a href="https://twitter.com/ieeevis">Twitter</a></li>
      	</ol>
      </div>
      </div>
    </div>
  </div>
</div>
