<div class="sm:px-16 px-0 py-32 m-6 relative ">
    <img src="{{ include.image-src }}" alt="{{ include.image-alt }}">
    <p class="heading-xlarge mt-12">{{ include.description }}</p>
    <div
        class="event-card md:w-2/3 w-full bg-secondary-700 absolute sm:p-4 p-0 flex sm:flex-row flex-col align-middle ">
        <div class="sm:w-1/2 w-full p-4 text-center text-white text-lg self-center ">VIS | VAST INFOVIS SCIVIS</div>
        <div class="sm:w-1/2 w-full p-4 text-center text-white text-lg self-center font-bold sm:border-l border-l-0 sm:border-t-0 border-t border-white ">{{ include.event-info }}</div>
    </div>
</div>
