<!-- Navigation Bar -->

<div id="navigation">
    <nav class="nav flex flex-start justify-between md:justify-start items-center">
        <div class="logo--nav flex-none text-lg text-blue-700 p-4 md:p-2 lg:p-4">
            <a href="/">
                <img src="/assets/vis2019_logo.svg" alt="VIS 2019">
            </a>
        </div>

        <div class="menu md:flex md:justify-end"
            v-bind:class="{ 'menu--expanded': isExpanded }">
        {% for nav in site.data.navigation.menu %}
            {% if nav.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == nav.dropdown %}
            {% assign is_active_class = 'menu_item--is-active' %}
            {% endif %}

            <button class="menu_item {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                tabindex="0" role="menuitem"
                v-on:click="toggleMenuItems('{{ nav.dropdown }}')"
                v-bind:class="{ 'menu_item--focused': menu['{{ nav.dropdown }}'] }">
                <span class="whitespace-no-wrap">{{ nav.dropdown }}
                <i class="material-icons align-middle" v-if="menu['{{ nav.dropdown }}']">arrow_drop_down</i>
                <i class="material-icons align-middle" v-else>arrow_right</i>
                </span>
            </button>

            <div class="dropdown md:flex" role="menu" aria-label="submenu" :aria-hidden="[isAriaHidden]" :aria-expanded="[isAriaExpanded]">
            {% for section in nav.sections %}
                <div class="dropdown__section">
                    {% for subsection in section.subsections %}
                        <div class="dropdown__subsection">
                            {% if subsection.heading_url %}
                                <a class="dropdown__heading link--arrow" href="{{ subsection.heading_url }}">{{ subsection.heading }}</a>
                            {% else %}
                                <span class="dropdown__heading">{{ subsection.heading }}</span>
                            {% endif %}

                            {% if subsection.description %}
                                <p class="dropdown__description">{{ subsection.description }}</p>
                            {% endif %}

                            {% if subsection.columns %}
                            <div class="sm:flex sm:flex-row flex-col">
                                {% for column in subsection.columns %}
                                    <ul class="flex-grow mt-4 md:mt-2">
                                        {% if column.heading %}
                                            <li class="dropdown__heading text-gray-500">{{ column.heading }}</li>
                                        {% endif %}
                                        {% for link in column.links %}
                                           <li>
                                                <a href="{{ link.url }}">{{ link.text }}</a>

                                                {% if link.is_external %}
                                                <span><i class="material-icons align-middle text-secondary text-sm">open_in_new</i></span>
                                                {% endif %}

                                                {% if link.is_new %}
                                                <span class="bg-accent text-primary-600 text-sm px-2 rounded-full">New</span>
                                                {% endif %}

                                                {% if link.description %}
                                                <p class="dropdown__description">{{ link.description }}</p>
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endfor %}
                            </div>

                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>
            {% endif %}
        {% endfor %}
        {% if site.data.navigation.registration.display %}
            <div class="px-8 md:px-2 lg:px-4 py-4 border-b-2 border-primary-200 md:border-none self-center">
                <a class="button" href="{{ site.data.navigation.registration.url }}">{{ site.data.navigation.registration.text }}</a>
            </div>
        {% endif %}
        </div>

        <div class="md:hidden flex-end p-4 text-primary font-display font-bold text-lg"
            v-on:click="toggleMenu()">
            <i class="material-icons align-middle">menu</i> Menu
        </div>
    </nav>
</div>
