<div class="flex sm:flex-row flex-col sm:p-10 px-4">
  <div class="flex flex-col sm:mr-2 mr-0 ">
    <img class="mb-4 " src="{{ include.src1 }}" alt="{{ include.alt1 }} ">
    <img class="mb-4 " src="{{ include.src2 }}" alt="{{ include.alt2 }} ">
  </div>
  <div class="flex flex-col sm:mx-2 mx-0 ">
    <img class="mb-4 " src="{{ include.src3 }}" alt="{{ include.alt3 }} ">
    <img class="mb-4 " src="{{ include.src4 }}" alt="{{ include.alt4 }} ">
  </div>
  <div class="flex flex-col sm:ml-2 ml-0 ">
    <img class="mb-4 " src="{{ include.src5 }}" alt="{{ include.alt5 }} ">
    <img class="mb-4 " src="{{ include.src6 }}" alt="{{ include.alt6 }} ">
  </div>
</div>
