<!-- Navigation Bar -->

<div id="program-navigation">
    <nav class="program-nav flex flex-start justify-between md:justify-start items-center">
        <div class="logo--program-nav flex-none text-lg md:p-4 lg:p-4">
            {{site.data.program_navigation.navbar_metadata.label}}
        </div>

        <div class="program-menu md:flex md:justify-end" v-bind:class="{ 'program-menu--expanded': isExpanded }">

            {% if site.data.program_navigation.schedule.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == 'Schedule' %}
            {% assign is_active_class = 'program_menu_item--is-active' %}
            {% endif %}

            <a class="program_menu_item  {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                href="{{ site.data.program_navigation.schedule.url }}">
                {{ site.data.program_navigation.schedule.text}}
            </a>

            {% endif %}

            {% if site.data.program_navigation.all_events.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == 'All Events' %}
            {% assign is_active_class = 'program_menu_item--is-active' %}
            {% endif %}

            <a class="program_menu_item  {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                href="{{ site.data.program_navigation.all_events.url }}">
                {{ site.data.program_navigation.all_events.text}}
            </a>

            {% endif %}


            {% if site.data.program_navigation.papers.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == 'Papers' %}
            {% assign is_active_class = 'program_menu_item--is-active' %}
            {% endif %}

            <a class="program_menu_item  {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                href="{{ site.data.program_navigation.papers.url }}">
                {{ site.data.program_navigation.papers.text}}
            </a>



            {% endif %}


            {% if site.data.program_navigation.posters.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == 'Posters' %}
            {% assign is_active_class = 'program_menu_item--is-active' %}
            {% endif %}

            <a class="program_menu_item  {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                href="{{ site.data.program_navigation.posters.url }}">
                {{ site.data.program_navigation.posters.text}}
            </a>

            {% endif %}


            {% if site.data.program_navigation.workshops.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == 'Workshops' %}
            {% assign is_active_class = 'program_menu_item--is-active' %}
            {% endif %}

            <a class="program_menu_item  {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                href="{{ site.data.program_navigation.workshops.url }}">
                {{ site.data.program_navigation.workshops.text}}
            </a>

            {% endif %}


            {% if site.data.program_navigation.speakers.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == 'Speakers' %}
            {% assign is_active_class = 'program_menu_item--is-active' %}
            {% endif %}


            <a class="program_menu_item  {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                href="{{ site.data.program_navigation.speakers.url }}">
                {{ site.data.program_navigation.speakers.text}}
            </a>

            {% endif %}


            {% if site.data.program_navigation.awards.display %}

            {% assign is_active_class = '' %}
            {% if page.active_nav == 'Awards' %}
            {% assign is_active_class = 'program_menu_item--is-active' %}
            {% endif %}

            <a class="program_menu_item  {{is_active_class}} font-display text-lg md:text-base lg:text-lg px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 py-4 md:py-6 border-b-2 border-primary-200 md:border-none"
                href="{{ site.data.program_navigation.awards.url }}">
                {{ site.data.program_navigation.awards.text}}
            </a>

            {% endif %}


            {% if site.data.program_navigation.navbar_metadata.use_auth0 %}
            <div class="login-desktop my-auto">
                <button
                    class="login-button button bg-secondary font-display md:text-sm lg:text-sm px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 my-auto">
                    Login
                </button>

                <div
                    class="welcome-pill relative flex font-display md:text-sm lg:text-sm px-8 md:px-2 lg:px-4 mx-0 my-auto">

                    <input type="text"
                        class="welcome-pill-message  px-4 h-100 w-full text-black rounded-l pr-10 outline outline-0 hide-auth-controls lg:ml-2"
                        placeholder="" value="" disabled />

                    <button
                        class="logout-button button-auth bg-secondary logoutBtn btn rounded-r rounded-l-none lg:mr-2 hide-auth-controls"
                        type="button">
                        Logout
                    </button>
                </div>
            </div>

            {% endif %}



        </div>

        <div class="md:hidden p-4 w-full flex align-middle">
            <div class="flex w-3/4 justify-start">
                {% if site.data.program_navigation.navbar_metadata.use_auth0 %}
                <div class="login-mobile">
                    <button
                        class="login-button button bg-secondary font-display md:text-sm lg:text-sm px-8 md:px-2 lg:px-4 mx-0 lg:mx-2 my-auto">
                        Login
                    </button>

                    <div class="welcome-pill relative flex font-display md:text-sm lg:text-sm  mx-0 my-auto">

                        <button
                            class="logout-button button-auth bg-secondary logoutBtn btn rounded-l rounded-r-none lg:mr-2 hide-auth-controls"
                            type="button">
                            Logout
                        </button>

                        <input type="text"
                            class="welcome-pill-message  px-4 h-100 w-full text-black rounded-r pr-10 outline outline-0 hide-auth-controls lg:ml-2"
                            placeholder="" value="" disabled />
                    </div>
                </div>
                {% endif %}
            </div>

            <div class="flex w-1/4 justify-end hamburger_menu font-display font-bold text-lg align-middle my-auto"
                v-on:click="toggleMenu()">
                {{site.data.program_navigation.navbar_metadata.label}} <i class="material-icons">menu</i>
            </div>
        </div>


    </nav>

    <transition name="fade">
        <div v-if="hasMenuItemExpanded" v-on:click="resetMenuItems()" class="navigation__overlay"></div>
    </transition>

</div>