<div id="sidebar-right" class="sidebar">
  <div id="block-block-6" class="clear-block block block-block">
    <div class="content" id="supporters">
      <div class="sidebar-title">Supporters<br/> <a href="/year/2019/info/exhibition/supporters-and-exhibition">(become one)</a> </div>

      <!-- Platinum -->
      <div class="supporter-level">Platinum</div>

      <!-- Microsoft -->
      <center>
        <a href="https://www.tableau.com/">
          <img src="/attachments/supporters/2019/tableau.png" width="120">
        </a>
      </center>

      <!-- GOLD -->
      <div class="supporter-level">Gold</div>

      <!-- Microsoft -->
      <center>
        <a href="https://www.microsoft.com/">
          <img src="/attachments/supporters/2019/microsoft2.png" width="120">
        </a>
      </center>

      <!-- BRONZE -->
      <div class="supporter-level">Bronze</div>

      <!-- Kitware, Inc -->
      <center>
        <a href="https://www.kitware.com/">
          <img src="/attachments/supporters/2019/kitware.png" width="120">
        </a>
      </center>

      <!-- IBM/MIT -->
      <center>
        <a href="https://mitibmwatsonailab.mit.edu/">
          <img src="/attachments/supporters/2019/ibm-mit.png" width="120">
        </a>
      </center>

      <!-- PEARL -->
      <div class="supporter-level">Pearl</div>

      <!-- Otto von Guericke University Magdeburg -->
      <center>
        <a href="https://www.uni-magdeburg.de/">
          <img src="/attachments/supporters/2019/magdeburg.jpg" width="120">
        </a>
      </center>

      <!-- University of Applied Sciences St. Pölten -->
      <center>
        <a href="https://www.fhstp.ac.at/en">
          <img src="/attachments/supporters/2019/stpolten.jpg" width="120">
        </a>
      </center>

      <!-- Harvard DBMI  -->
      <center>
        <a href="http://dbmi.hms.harvard.edu/">
          <img src="/attachments/supporters/2019/DBMI.png" width="120">
        </a>
      </center>

      <!-- Northeastern University -->
      <center>
        <a href="https://camd.northeastern.edu/">
          <img src="/attachments/supporters/2019/northeastern.png" width="120">
        </a>
      </center>

      <!-- In affiliation/cooperation with -->
      <div class="supporter-level">In affiliation/cooperation with</div>

      <!-- ISCB -->
      <center>
        <a href="https://www.iscb.org/">
          <img src="/attachments/supporters/2018/iscb-logo-Affiliated-Conference-2014.jpg" width="120">
        </a>
      </center>

      <!-- ACM -->
      <center>
        <a href="https://sigchi.org/">
          <img src="/attachments/supporters/2018/ACM_SIGCHI_combined.png" width="120">
        </a>
      </center>

    </div>
  </div>
</div>
