<div id="sidebar-right" class="sidebar">
  <div id="block-block-6" class="clear-block block block-block">
    <div class="content" id="supporters">
      <div class="sidebar-title">Supporters<br/> <a href="/year/2019/info/exhibition/supporters-and-exhibition">(become one)</a> </div>

      <!-- Platinum -->
      <div class="supporter-level">Platinum</div>

      <!-- Microsoft -->
      <center>
        <a href="https://www.tableau.com/">
          <img src="/attachments/supporters/2019/tableau.png" width="120">
        </a>
      </center>

      <!-- GOLD -->
      <div class="supporter-level">Gold</div>

      <!-- Microsoft -->
      <center>
        <a href="https://www.microsoft.com/">
          <img src="/attachments/supporters/2019/microsoft2.png" width="120">
        </a>
      </center>

      <!-- BRONZE -->
      <div class="supporter-level">Bronze</div>

      <!-- Harvard DBMI  -->
      <center>
        <a href="http://dbmi.hms.harvard.edu/">
          <img src="/attachments/supporters/2019/DBMI.png" width="120">
        </a>
      </center>

      <!-- Kitware, Inc -->
      <center>
        <a href="https://www.kitware.com/">
          <img src="/attachments/supporters/2019/kitware.png" width="120">
        </a>
      </center>
      
      <!-- KAUST -->
      <center>
        <a href="https://vcc.kaust.edu.sa/Pages/Home.aspx">
          <img src="/attachments/supporters/2018/KAUST_logo-right-big.png" width="120">
        </a>
      </center>

      <!-- IBM/MIT -->
      <center>
        <a href="https://mitibmwatsonailab.mit.edu/">
          <img src="/attachments/supporters/tmp/IBM_t.png" width="120">
        </a>
      </center>
      
      <!-- SIEMENS -->
      <center>
        <a href="https://siemens.com/">
          <img src="/attachments/supporters/2019/Siemens.png" width="120">
        </a>
      </center>

      <!-- VIDI Chengying -->
      <center>
        <a href="https://web.cs.ucdavis.edu/~ma/">
          <img src="/attachments/supporters/2019/VIDI-Chengying.png" width="120">
        </a>
      </center>

      <!-- PEARL -->
      <div class="supporter-level">Pearl</div>

      <!-- Otto von Guericke University Magdeburg -->
      <center>
        <a href="https://www.uni-magdeburg.de/">
          <img src="/attachments/supporters/2019/magdeburg.jpg" width="120">
        </a>
      </center>

      <!-- University of Applied Sciences St. Pölten -->
      <center>
        <a href="https://www.fhstp.ac.at/en">
          <img src="/attachments/supporters/2019/stpolten.jpg" width="120">
        </a>
      </center>

      <!-- Northeastern University -->
      <center>
        <a href="https://camd.northeastern.edu/">
          <img src="/attachments/supporters/2019/northeastern.png" width="120">
        </a>
      </center>


      <!-- data visualization society -->
      <center>
        <a href="https://www.datavisualizationsociety.com/">
          <img src="/attachments/supporters/2019/DVS.png" width="120">
        </a>
      </center>

      
      
      <!-- Springer -->
      <center>
        <a href="https://www.springer.com/">
          <img src="/attachments/supporters/Springer_cmyk.png" width="120">
        </a>
      </center>

      <!-- VRVis -->
      <center>
        <a href="https://www.vrvis.at/">
          <img src="/attachments/supporters/2018/VRVIS.png" width="120">
        </a>
      </center>

      <!-- University of Arizona HDC -->
      <center>
        <a href="https://hdc.cs.arizona.edu/">
          <img src="/attachments/supporters/2019/hdc-arizona.png" width="120">
        </a>
      </center>
      
      <!-- Uncharted Software -->
      <center>
        <a href="https://uncharted.software/">
          <img src="/attachments/supporters/2019/uncharted.png" width="120">
        </a>
      </center>

      <!-- Fraunhofer -->
      <center>
        <a href="https://www.igd.fraunhofer.de/">
          <img src="/attachments/supporters/2019/fraunhofer.png" width="120">
        </a>
      </center>

      <!-- SCI -->
      <center>
        <a href="https://www.sci.utah.edu/">
          <img src="/attachments/supporters/2019/sci.png" width="120">
        </a>
      </center>

      <!-- hs mannheim -->
      <center>
        <a href="https://www.hs-mannheim.de/">
          <img src="/attachments/supporters/2019/hsmannheim.png" width="120">
        </a>
      </center>

      <!-- parsons -->
      <center>
        <a href="https://www.newschool.edu/parsons/">
          <img src="/attachments/supporters/2019/parsons.png" width="120">
        </a>
      </center>

      <!-- Morgan Claypool -->
      <center>
        <a href="https://www.morganclaypool.com">
          <img src="/attachments/supporters/2019/morganclaypool.png" width="120">
        </a>
      </center>

      <!-- Google
      <center>
        <a href="google.com">
          <img src="/attachments/supporters/2019/Google.png" width="120">
        </a>
      </center>
      -->

      <!-- U Maryland -->
      <center>
        <a href="https://www.umd.edu">
          <img src="/attachments/supporters/2019/maryland.png" width="120">
        </a>
      </center>

      <!-- Adobe -->
      <center>
        <a href="https://www.adobe.com">
          <img src="/attachments/supporters/2019/adobe.png" width="120">
        </a>
      </center>
      
      <!-- Other Donations -->
      <div class="supporter-level">Other Donations</div>

      <!-- Sophos -->
      <center>
        <a href="https://www.sophos.com/">
          <img src="/attachments/supporters/2019/sophos.png" width="120">
        </a>
      </center>

      <!-- Data Machines Corp. -->
      <center>
        <a href="http://www.datamachines.io/">
          <img src="/attachments/supporters/2019/datamachines.png" width="120">
        </a>
      </center>

      <!-- FireEye -->
      <center>
        <a href="https://www.fireeye.com/">
          <img src="/attachments/supporters/2019/fireeye.png" width="120">
        </a>
      </center>

      <!-- NVidia -->
      <center>
        <a href="nvidia.com">
          <img src="/attachments/supporters/2019/nvidia.png" width="120">
        </a>
      </center>

      <!-- USF -->
      <center>
        <a href="https://www.usf.edu/">
          <img src="/attachments/supporters/2019/USF.png" width="120">
        </a>
      </center>

      <!-- GRC/VSC TODO-- no logo
      <center>
        <a href="">
          <img src="" width="120">
        </a>
      </center>
      -->

      <!-- In affiliation/cooperation with -->
      <div class="supporter-level">In affiliation/cooperation with</div>

      <!-- ISCB -->
      <center>
        <a href="https://www.iscb.org/">
          <img src="/attachments/supporters/2018/iscb-logo-Affiliated-Conference-2014.jpg" width="120">
        </a>
      </center>

      <!-- ACM -->
      <center>
        <a href="https://sigchi.org/">
          <img src="/attachments/supporters/2018/ACM_SIGCHI_combined.png" width="120">
        </a>
      </center>

    </div>
  </div>
</div>
