<div id="sidebar-right" class="sidebar">
  <div id="block-block-8" class="clear-block block block-block">
    <div class="content">
      <div class="sidebar-title">Important Dates</div>
      <div class="event-title deadline"><strike><strong>March 21st</strong><br/><a href="/year/2016/info/call-participation/abstract-submission-guidelines">Papers - abstract deadline</a></strike></div>
      <div class="event-title deadline"><strike><strong>March 31st</strong><br/><a href="/year/2016/info/call-participation/paper-submission-guidelines">Papers - submission deadline</a></strike></div>
      <div class="event-title deadline"><strike><strong>April 30th</strong><br/><a href="/year/2016/info/call-participation/tutorials">Tutorials - proposal deadline</a><br/><a href="/year/2016/info/call-participation/workshops">Workshops - proposal deadline</a></strike></div>
      <div class="event-title deadline"><strike><strong>May 25th</strong><br/><a href="/year/2016/info/call-participation/doctoral-colloquium">Doctoral Colloquium - submission deadline</a></strike></div>
      <div class="event-title deadline"><strike><strong>June 6th</strong><br/><a href="/year/2016/info/call-participation/paper-submission-guidelines">Papers - notification of results of first review cycle</a></strike></div>
      <div class="event-title deadline"><strike><strong>June 12th</strong><br/><a href="http://www.vissv.org/visweektasksystem/htdocs/shirtcontest.html">Student Volunteers - T-shirt design contest deadline</a></strike></div>
      <div class="event-title deadline"><strike><strong>June 15th</strong><br/><a href="/year/2016/info/call-participation/panels">Panels - submission deadline</a></strike></div>
      <div class="event-title deadline"><strike><strong>June 24th</strong><br/><a href="/year/2016/info/call-participation/posters">Posters - submission deadline</a></strike></div>
      <div class="event-title deadline"><strike><strong>June 27th</strong><br/><a href="/year/2016/info/call-participation/paper-submission-guidelines">Papers - submission deadline for second review cycle</a></strike></div>
      <div class="event-title deadline"><strong>July 11th</strong><br/><a href="/year/2016/info/call-participation/paper-submission-guidelines">Papers - final notification</a></div>
      <div class="event-title deadline"><strong>August 1st</strong>
	<br/><a href="/year/2016/info/call-participation/paper-submission-guidelines">Papers - camera-ready submission deadline</a>
	<br/><a href="http://www.vissv.org/visweektasksystem/htdocs/application.html">Student Volunteers - application deadline</a>
	<br/><a href="http://www.vissv.org/visweektasksystem/htdocs/tshirt.php">Student Volunteers - T-shirt design vote deadline</a>
      </div>
      <div class="event-title deadline"><strong>September 4th</strong><br/><a href="/year/2016/info/call-participation/meetups">Meetups - proposal submission deadline</a></div>
    </div>
  </div>
  <div id="block-block-6" class="clear-block block block-block">
    <div class="content">
      <div class="sidebar-title">Supporters<br/> <a href="/year/2016/info/exhibition/supporters-and-exhibition">(become one)</a>
      </div>
    </div>
  </div>
</div>
