<div class="page-sidebar ">
    {% for section in site.data.sidebars.[page.sidebar] %}
        <div class="my-4">
            {% if section.heading %}
                <p class="uppercase font-bold text-gray-500">{{ section.heading }}</p>
            {% endif %}
            <div class="overflow-hidden md:ml-0 -ml-3">
                <div class="md:ml-0 -ml-px">
                    {% for link in section.links %}
                        <a href="{{ link.url }}" class="page-sidebar__link {% if page.permalink == link.url %}page-sidebar__link--active{% endif %}">{{ link.text }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
