<div class="container">
    <div class="flex lg:flex-row flex-col sm:mt-24 mt-12">
        <div class="w-full lg:w-1/3 mb-12 text-measure">
            <h2 class="mb-6 ">{{ include.title }}</h2>
            <p class="mb-6 text-primary text-xl">{{ include.description }}</p>
            <a class="button button-blue" href="{{ include.button-link }}">{{ include.button-text }}</a>
        </div>

        <div class="w-full lg:w-2/3 lg:ml-12">
            {% for category in site.data.supporters %}
                <div class="supporters__row ">
                    <h3 class="heading-alt text-sm text-gray-500">{{ category.category }}</h3>
                    <div class="flex flex-wrap items-center">
                        {% for supporter in category.supporters %}
                            <a href="{{ supporter.url }}" target="_blank">
                                <img class="mr-8 mb-10 supporter__logo {% if category.image_size %} supporter__logo--custom {% endif %}"
                                     width="{% if category.image_size %} {{category.image_size}} {% endif %}"
                                     src="{{ supporter.image }}"
                                     alt="{{ supporter.name }}">
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
