
<div class="md:flex items-center mb-4 px-6 py-4 border border-primary border-l-8 rounded-sm home-alert"
    style="background: bisque; text-align: center"
>
    <div class="mb-4 md:mb-0 md:mr-4">
        {% if include.title-url %}
        <a href="{{ include.title-url }}"><p class="heading-base mb-0">{{ include.title }}</p></a>
        {% else %}
        <p class="heading-base mb-0">{{ include.title }}</p>
        {% endif %}
        <p class="text-primary mb-0">{{ include.description }}</p>
    </div>
</div>
