.byline {
    font-style: italic;
}

.post-date {
    font-weight: 900;
    text-align: right;
    /* margin-bottom: 0; */
}

.byline-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}