/* Cards */

.card {
    @apply bg-white mb-4 border rounded-sm border-primary-700 text-primary p-6 relative flex flex-col;
}

.card::after {
    content: '';
    right: calc(100% - .5rem);
    @apply top-0 left-0 bottom-0 absolute border-r border-primary;
}

.event-card {
    left: 0%;
    bottom: -70px;
    /* z-index: 1; */
    @apply z-10;
}

@screen md {
    .event-card {
        left: 20%;
        /* z-index: 1; */
    }
}

.callout-card {
    @apply flex-1 px-0 py-8;
}

@screen sm {
    .callout-card {
        @apply p-8;
    }
}

@screen lg {
    .callout-card {
        @apply p-16;
    }
}

.participation-card {
    bottom: -5rem;
    left: 0;
    @apply mx-16 absolute z-10 w-full bg-white mx-auto p-12 border-2 border-primary;
}

@screen md {
    .participation-card {
        bottom: -7rem;
        left: 4rem;
        @apply w-2/5;
    }
}