
@import 'typography';

@import "tailwindcss/components";
@import 'navigation';
@import 'buttons';
@import 'cards';

@import "tailwindcss/utilities";

h1 {
  @apply text-xl;
  line-height: 46px;
}

h2 {
  @apply text-lg;
  line-height: 38px;
}

h3 {
  @apply text-md;
  line-height: 26px;
}

h4 {
  @apply text-sm;
  line-height: 22px;
}

.content h1, .content h2, .content h3, .content h4 {
  @apply mb-4;
}

.content p {
  @apply mb-4;
}

.content a {
  @apply text-blue-700 underline;
}

.content strong {
  @apply font-bold;
}

.content em {
  @apply italic;
}

.content ul {
  @apply ml-10;
}

.content ul li::before {
  content: "\25e6";
  @apply mr-4 text-green-500 font-fira;
}

.content ol {
  @apply list-decimal ml-10;
}

.content blockquote {
  @apply border-l-4 border-green-600 py-4 px-5 my-4;
}

.content .button {
  @apply tracking-wider flex align-middle bg-white border-2 border-blue-700 rounded text-center text-blue-700 font-bold py-2 pl-2 pr-1 mb-4;
}

.content .button-blue {
  @apply bg-blue-700 text-white;
}

.content table {
  @apply mb-4;
}

.content tr {
  @apply border-b border-dashed border-blue-700;
}

.content td {
  @apply px-4 py-3;
}

.content tr:first-child {
  border-style: solid none dashed;
  @apply border-t-2 border-blue-700;
}

.content tr:last-child {
  @apply border-b-2 border-solid border-blue-700;
}

hr {
  @apply border-b-2 border-green-500 border-dashed relative mb-4;
}

.content hr::after {
  @apply border-green-500 border-2 absolute rounded-full;
  content: "";
  right: -14px;
  top: -4px;
  width: 6px;
  height: 6px;
}

/* Reset list style for nav */

/* nav a {
  @apply text-white no-underline;
}

nav ul {
  @apply m-0;
}

nav li:before {
  content: '';
  @apply m-0;
} */

/* Components */

.card {
  @apply bg-white mb-4 border rounded-sm border-blue-700 text-blue-700 px-6 py-4 relative;
}

.card::after {
  content: '';
  right: calc(100% - .5rem);
  @apply top-0 left-0 bottom-0 absolute border-r border-blue-700;
}

/* CSS shapes */

.polygon-primary {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 90%, 0 90%);
  /* shape-outside: polygon(0 0, 100% 0, 100% 100%, 78% 100%, 70% 82%, 0 82%); */
  height: 320px;
  @apply bg-blue-600 w-full flex flex-col justify-between relative;
}

.polygon-primary::after {
  content: "";
  right: calc(20% + 4px);
  bottom: -3px;
  width: 8px;
  height: 8px;
  @apply absolute border-white border-2 rounded-full mb-6;
}

.polygon-primary::before {
  content: "";
  right: 0;
  bottom: 0;
  @apply absolute border-b-2 border-white border-dashed w-1/5 mb-6;
}

.polygon-secondary {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 90%, 0 90%);
  /* shape-outside: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 90%, 0 90%); */
  @apply bg-blue-700 p-8 text-white w-full h-auto;
}

/* .line {
  @apply border-b-2 border-white border-dashed w-1/5 self-end mb-4 relative;
}

.line::before {
  @apply border-white border-2 absolute rounded-full;
  content: "";
  left: -14px;
  top: -3px;
  width: 8px;
  height: 8px;
} */

.polygon-paper {
  clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 0 100%);
  @apply bg-white w-1/2 h-auto;
}


.section1, .section2 {
  height: 400px;
}

.section2::before {
  content: '';
  width: 3rem;
  height: 2rem;
  top: calc(-2rem);
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  @apply bg-blue-700 absolute;
}

.section2::after {
  content: '';
  width: calc(3rem - 3px);
  height: calc(2rem - 2px);
  top: calc(-2rem + 2px);
  left: 3px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  @apply bg-white absolute;
}

@media (min-width: 768px) {
  .section2::before {
    content: '';
    width: 5rem;
    height: 3rem;
    top: calc(-3rem);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    @apply bg-blue-700 absolute;
  }

  .section2::after {
    content: '';
    width: calc(5rem - 3px);
    height: calc(3rem - 2px);
    top: calc(-3rem + 2px);
    left: 3px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    @apply bg-white absolute;
  }
}

.middle-section {
  top: -2rem;
  left: 3rem;
}

@media (min-width: 768px) {
  .middle-section {
    top: -3rem;
    left: 5rem;
  }
}

/* Navigation */

nav ul {
  @apply mt-6;
}

nav li a {
  @apply text-green-500;
}

nav li {
  @apply mb-1;
}

.nav-heading {
  @apply uppercase font-bold text-xs;
}

.nav-heading-link {
  @apply text-blue-700;
}

.nav-subheading {
  @apply text-gray-500;
}

.nav-description {
  @apply text-gray-600 text-2xs;
}
