/* Body */

html {
    scroll-behavior: smooth;
}

/* Containers */

.container {
    max-width: 1280px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
}

@screen sm {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.flex-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.title {
    flex: auto;
    min-width: 520px;
    max-width: 550px;
}

.carousel-container {
    width: 600px;
    min-width: 400px;
    max-width: 1000px;
}


/* Main */

main {
    margin-top: 70px; /* Push down to compensate for fixed nav*/
}

article, aside {
    scroll-margin-top: 30px;
}

@screen md {
    main {
        margin-top: 0;
    }
}

