/* Containers */

.container {
    max-width: 1280px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: auto;
}

@screen sm {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}


/* Main */

main {
    margin-top: 70px; /* Push down to compensate for fixed nav*/
}

@screen md {
    main {
        margin-top: 0;
    }
}

.home-alert{
    margin-left: auto;
    position: relative;
    width: 50%;
    margin-top: 2.5rem;
    float: right;
    z-index: 99;
}
