/* Logo */

.logo--nav img {
    width: 150px;
}

@screen md {
    .logo--nav img {
        width: 118px;
    }
}

@screen lg {
    .logo--nav img {
        width: 150px;
    }
}

.logo--main {
    width: 250px;
}

@screen md {
    .logo--main {
        width: initial;
    }
}

/* Navigation Bar */

.nav {
    --navigation-height: 70px;
    z-index: 999;
    @apply bg-white;
    @apply border-primary border-b-2;
    height: var(--navigation-height);

    /* Fixed on small screens */
    position: fixed;
    width: 100%;
    top: 0;
}

    @screen md {
        .nav {
            @apply bg-accent border-0;
            @apply relative;
        }
    }


/* Menu */

.menu {
    /* Full height and scroll on small screens */
    display: none;
    position: fixed;
    top: var(--navigation-height);
    height: calc(100vh - var(--navigation-height));
    width: 100%;
    overflow-y: scroll;
    @apply bg-white;
}
    /* Reset on larger screens */
    @screen md {
        .menu {
            position: static;
            top: 0;
            height: 100%;
            overflow-y: unset;
            @apply bg-accent;
        }
    }

    /* State: Expanded */
    .menu--expanded {
        display: block;
    }
    /* Reset on larger screens */
    @screen md {
      .menu--expanded {
        display: flex;
        top: 0;
        /* position: relative; */
      }

      .dropdown {
        left: 0;
        position: absolute;
        top: var(--navigation-height);
        width: 100%;
      }
    }


/* Menu Items */

.menu_item {
    background: #fff;
    position: relative;
    transition: color, background-color 250ms ease;
    cursor: pointer;
    @apply text-primary;
    text-align: left;
    width: 100%;
    @apply text-primary;
}

@screen md {
    .menu_item {
        background: transparent;
        text-align: center;
        width: auto;
      }
    }

    /* State: Hover and Focused */
    .menu_item:hover,
    .menu_item--focused {
        @apply text-secondary bg-accent;
    }

    @screen md {
        .menu_item:hover {
            background: transparent;
        }

        .menu_item--focused,
        .menu_item--focused:hover {
            @apply bg-gray-100;
        }
    }

    /* State: Active Navigation  */

    @screen md {
        .menu_item.menu_item--is-active {
          @apply text-secondary;
          box-shadow: inset 0 -4px theme('colors.secondary.default');
        }
    }



/* Dropdown Menu */

.dropdown {
    @apply bg-gray-100;
    display: none;
    max-height: 0;
}

    .menu_item--focused + .dropdown {
        display: block;
        animation: expandMenu 300ms ease forwards;
    }

    @screen md {
        .dropdown {
            @apply border-b-0;
            @apply flex-row;
            @apply shadow-lg;
            transition: none;
        }

        .menu_item--focused + .dropdown {
            display: flex;
            max-height: 1000px;
            animation: none;
        }
    }

@keyframes expandMenu {
    0% {
        display: block;
        overflow: hidden;
        max-height: 0;
    }
    100% {
        max-height: 1000px;
    }
}

/* Sections */

.dropdown__section {
    @apply w-full;
    @apply flex flex-col;
    @apply px-8 py-8;
}

    @screen md {
        .dropdown__section {
            @apply w-1/2;
            @apply my-16;
            @apply py-0 px-16;
        }
    }


.dropdown__section + .dropdown__section {
    @apply bg-primary-100;
}


    @screen md {
        .dropdown__section + .dropdown__section {
            @apply relative bg-gray-100;
            /* @apply pl-16; */
            @apply border-l border-primary border-dashed;
        }
    }

    @screen md {
      .dropdown__section + .dropdown__section::before {
        @apply absolute border-2 rounded-full border-primary bg-primary-100;
        content: '';
        left: -4px;
        top: 0;
        width: 8px;
        height: 8px;
      }

      .dropdown__section + .dropdown__section::after {
        @apply absolute border-2 rounded-full border-primary bg-primary-100;
        content: '';
         left: -4px;
         bottom: 0;
         width: 8px;
         height: 8px;
      }
    }


.dropdown__section:last-child {
    box-shadow: inset 0 -1px theme('colors.primary.default');
}

    @screen md {
        .dropdown__section:last-child {
            box-shadow: none;
        }
    }


/* Subsections */

.dropdown__subsection {
    @apply inline-block;
}

    .dropdown__subsection + .dropdown__subsection {
        @apply border-t border-dashed border-primary;
        @apply mt-8 pt-8 pb-0;
    }


/* Headings and Typography */

.dropdown__heading {
  @apply uppercase font-bold text-gray-700 tracking-wide;
}

.dropdown__description {
  @apply text-gray-600 text-sm;
}

.dropdown li a {
    @apply text-secondary font-bold tracking-wide;
}

.dropdown a:hover {
    text-decoration: underline;
}


/* List */

.dropdown li {
    @apply mb-1;
}

.dropdown li:last-child p {
    @apply mb-0;
}



/* Navigation Overlay */

.navigation__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
    background: rgba(0, 89, 175, 0.4);
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .15s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
