/* Sections */

.section {
    @apply bg-primary;
    @apply relative;
    margin-bottom: 15px;
}

    .section::after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: -29px; /* Fixes a 1px gap in Chrome */
        height: 30px;
        width: 30%;
        clip-path: polygon(100% 0, 100% 100%, 30px 100%, 0 0);
        background: inherit;
    }

    @screen sm {
        .section {
            margin-bottom: 50px;
        }

        .section::after {
            height: 50px;
            bottom: -49px; /* Fixes a 1px gap in Chrome */
            clip-path: polygon(100% 0, 100% 100%, 50px 100%, 0 0);
        }
    }


.section--wrapper {
    padding-bottom: 25px;
    margin-bottom: 50px;
}

    @screen sm {

        .section--wrapper::after {
            width: 30%;
            height: 65px;
            bottom: -64px; /* Fixes a 1px gap in Chrome */
            clip-path: polygon(100% 0, 100% 100%, 65px 100%, 0 0);
            background-image: url('/assets/theme/decorative_line_left.svg');
            background-repeat: no-repeat;
            background-position: 80px 20px;
        }
    }


/* Section Content Wrapper */

.section__content-wrapper {
    @apply py-16;
    @apply relative z-10;
}

    .section__content-wrapper--decorative {
        background-image: url('/assets/theme/decorative_line_right.svg');
        background-repeat: no-repeat;
        background-position: right top 50px;
    }


/* Section Content */

.section__content {
    @apply text-white;
    @apply w-full;
    @apply mt-8;
}

    .section__content a {
        @apply border-b border-white border-dashed;
    }

    .section__content a:hover {
        @apply text-primary-200;
        @apply border-primary-200;
        transition: color 200ms;
    }


/* Section Callout Card */

.section__callout {
    @apply relative;
    @apply w-full;
    @apply border-2 border-primary;
    @apply py-8 px-12;
    margin-top: -8rem;
    @apply bg-white;
    @apply text-primary text-lg;
}

    @screen md {
        .section__callout {
            width: 50%;
            min-width: 450px;
            max-width: 600px;
        }

        .section__callout::before {
            content: '';
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            top: -2px;
            left: -66px;
            border-left: 64px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 64px solid theme('colors.primary.default');
        }

        .section__callout::after {
            content: '';
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            top: 1px;
            left: -64px;
            border-left: 62px solid transparent;
            border-right: 0px solid transparent;
            border-bottom: 62px solid white;
        }
    }
