/* Sections */


/* CSS shapes */

.polygon-primary {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 96%, 0 96%);
    /* padding-bottom: 7%; */
    @apply bg-primary w-full relative pb-20;
}

@screen lg {
    .polygon-primary {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 93%, 0 93%);
    }
}

.polygon-primary--light {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 96%, 0 96%);
    @apply bg-primary-600 relative text-white w-full pb-12;
}

@screen lg {
    .polygon-primary--light {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 93%, 0 93%);
    }
}

.polygon-primary--light::after {
    content: "";
    right: calc(20% + 4px);
    bottom: -3px;
    width: 8px;
    height: 8px;
    @apply absolute border-white border-2 rounded-full mb-6;
}

.polygon-primary--light::before {
    content: "";
    right: 0;
    bottom: 0;
    @apply absolute border-b-2 border-white border-dashed w-1/5 mb-6;
}

.polygon-paper {
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 90%, 0 0);
    @apply bg-white w-full mx-0 my-16 h-auto top-0 right-0;
}

@screen md {
    .polygon-paper {
        @apply w-1/2 mr-8 ml-auto;
    }
}


/* .section1, .section2 {
    height: 400px;
} */

.section2::before {
    content: '';
    width: 3rem;
    height: 2rem;
    top: calc(-2rem);
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    @apply bg-primary absolute;
}

.section2::after {
    content: '';
    width: calc(3rem - 3px);
    height: calc(2rem - 2px);
    top: calc(-2rem + 2px);
    left: 3px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    @apply bg-white absolute;
}

@media (min-width: 768px) {
    .section2::before {
        content: '';
        width: 5rem;
        height: 3rem;
        top: calc(-3rem);
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        @apply bg-primary absolute;
    }
    .section2::after {
        content: '';
        width: calc(5rem - 3px);
        height: calc(3rem - 2px);
        top: calc(-3rem + 2px);
        left: 3px;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
        @apply bg-white absolute;
    }
}

.section-content {
    @apply px-6 py-16;
}

@screen sm {
    .section-content {
        @apply px-16
    }
}