/* Sections */


/* CSS shapes */

.shape-section {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 96%, 0 96%); */
    clip-path: polygon(100% 0, 100% 100%, 75% 100%, 70% 98%, 0 98%, 0 0);
    @apply w-full relative;
}

@screen lg {
    .shape-section {
        /* clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 100%, 70% 93%, 0 93%); */
        clip-path: polygon(100% 0, 100% 100%, 75% 100%, 70% 95%, 0 95%, 0 0);
    }
}

.shape-section--primary {
    @apply bg-primary;
    @apply pb-20;
}

.shape-section--primary-line {
    @apply shape-section--primary;
}

.shape-section--primary-line::before,
.shape-section--primary-line::after {
    @apply hidden;
}

@screen md {
    .shape-section--primary-line::before {
        content: '';
        right: 4rem;
        top: 0;
        @apply block;
        @apply absolute;
        @apply border-b-2 border-dashed border-white;
        @apply mt-6;
        @apply w-4/5;
    }

    .shape-section--primary-line::after {
        content: '';
        right: calc(4rem - 10px);
        top: -4px;
        width: 8px;
        height: 8px;
        @apply block;
        @apply absolute;
        @apply border-2 border-white rounded-full;
        @apply mt-6;
    }
}

.shape-section--primary-light {
    @apply bg-primary-600;
    @apply pb-12;
}

@screen sm {
    .shape-section--primary-light {
        @apply pb-16;
    }
}

.shape-section--primary-light::before {
    content: "";
    right: 0;
    bottom: 0;
    @apply absolute;
    @apply border-b-2 border-white border-dashed;
    @apply w-1/5;
    @apply mb-6;
}

.shape-section--primary-light::after {
    content: "";
    right: calc(20% + 4px);
    bottom: -3px;
    width: 8px;
    height: 8px;
    @apply absolute;
    @apply border-white border-2 rounded-full;
    @apply mb-6;
}

@screen sm {
    .shape-section--primary-light::before,
    .shape-section--primary-light::after {
        @apply mb-8;
    }
}

.shape-section--gray {
    @apply bg-gray-200;
    @apply py-20;
    @apply px-6;
}

@screen sm {
    .shape-section--gray {
        @apply px-16;
    }
}

.shape-paper {
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 90%, 0 0);
    @apply bg-white;
    @apply text-primary;
    @apply w-full;
    @apply mx-0 mb-12 mt-20;
    @apply h-auto;
    @apply top-0 right-0;
}

@screen md {
    .shape-paper {
        @apply w-3/5;
        @apply mr-10 my-16;
        @apply ml-auto;
    }
}

.section-content {
    @apply mx-6 py-16;
}

@screen sm {
    .section-content {
        @apply mx-8;
    }
}

@screen lg {
    .section-content {
        @apply mx-16;
    }
}

.intro-content {
    @apply text-white;
    @apply w-full;
    @apply mt-8;
}

@screen md {
    .intro-content {
        @apply w-1/2;
    }
}

.intro-content a {
    @apply border-b border-white border-dashed;
}

.intro-content a:hover {
    @apply text-primary-200;
    @apply border-primary-200;
    transition: color 200ms;
}