/* Sidebar */

.page-sidebar {
    @apply flex flex-col self-start;
    @apply relative;
    @apply order-1;
    @apply w-full;
    @apply pl-0 pb-8;
    @apply border-l-0 border-b border-dashed border-primary;
}

@screen md {
    .page-sidebar {
        @apply order-none;
        @apply w-1/5;
        @apply pl-8 pb-0;
        @apply border-l border-b-0;
    }
}

.page-sidebar::before {
    content: '';
    width: 8px;
    height: 8px;
    left: -10px;
    bottom: -4px;
    @apply border-2 border-primary rounded-full;
    @apply absolute;
}

.page-sidebar::after {
    content: '';
    width: 8px;
    height: 8px;
    right: -10px;
    bottom: -4px;
    @apply border-2 border-primary rounded-full;
    @apply absolute;
}

@screen md {
    .page-sidebar::before {
        left: -4px;
        top: -10px;
    }

    .page-sidebar::after {
        left: -4px;
        bottom: -10px;
    }


}

.page-sidebar__link {
    @apply border-l border-secondary pr-2 pl-3 inline text-secondary whitespace-no-wrap mb-2;
}

@screen md {
    .page-sidebar__link {
        @apply border-l-0;
        @apply pr-0 pl-0;
        @apply block;
        @apply whitespace-normal;
    }
}
