/* Sidebar */

.sidebar {
    @apply flex flex-col self-start;
    @apply relative;
    @apply order-1;
    @apply w-full;
    @apply pl-0 pb-8;
    @apply border-l-0 border-b border-dashed border-primary;
}

    @screen md {
        .sidebar {
            @apply order-none;
            @apply w-1/5;
            @apply pl-8 pb-0;
            @apply border-l border-b-0;
        }
    }

    .sidebar::before {
        content: '';
        width: 8px;
        height: 8px;
        left: -10px;
        bottom: -4px;
        @apply border-2 border-primary rounded-full;
        @apply absolute;
    }

    .sidebar::after {
        content: '';
        width: 8px;
        height: 8px;
        right: -10px;
        bottom: -4px;
        @apply border-2 border-primary rounded-full;
        @apply absolute;
    }

        @screen md {
            .sidebar::before {
                left: -4px;
                top: -10px;
            }

            .sidebar::after {
                left: -4px;
                bottom: -10px;
            }
        }


/* Sidebar Links */

.sidebar__link {
    @apply border-l border-secondary pr-2 pl-3 inline text-secondary whitespace-no-wrap mb-2;
}

    @screen md {
        .sidebar__link {
            @apply border-l-0;
            @apply pr-0 pl-0;
            @apply block;
            @apply whitespace-normal;
        }
    }

    .sidebar__link--active {
        @apply font-bold;
    }

    .sidebar__link--disabled {
        @apply text-gray-500;
    }
