---
layout: default
---

{% include carousel.html %} 

{% include main-banner.html 
    image-src="/assets/vis2020_logo.svg" 
    image-alt="VIS 2020 Logo"
    description="the premier forum for advances in visualization and visual analytics"
    event-date="25-30 October 2020"
    event-location="Salt Lake City, Utah, USA" %}


{% include welcome-letter.html
    image-src="/assets/photos/SLC.JPG"
    image-alt="Salt Lake City" %}

<!--div class="main-card--container container mt-16 md:mt-24">
    {% include main-card.html
        title="Registration"
        description="Full week, one day, two day, and keynote + capstone registrations are still available."
        button-text="Register Now"
        button-link="/year/2020/info/registration/conference-registration" %}

    {% include main-card.html
        title="Location"
        description="VIS 2020 is taking place in Salt Lake City. Find out how to get here."
        button-text="Get Directions"
        button-link="/year/2020/info/registration/hotel-information" %}

    {% include main-card.html
        title="Program"
        description="This year's full program is now available as an app and here on this website."
        button-text="Full Program"
        button-link="/year/2020/info/week-at-a-glance" %}

    {% include main-card.html
        title="Data Visualization Practitioners"
        description="Learn which sessions may be particularly interesting to visualization practitioners"
        button-text="VIS 2020 Practitioner Guide"
        button-link="https://visinpractice.github.io/guide.html" %}
</div-->

<div class="bg-gray-200">
    {% include photo-grid.html
        src1="/assets/photos/datacardgame.jpg"
        alt1="Data physicalization card game activity. Photo credit: Bon Adriel Aseniero."
        url1="/year/2019/info/papers-sessions"

        src2="/assets/photos/poster_session.PNG"
        alt2="Photo credit: Bon Adriel Aseniero."
        url2="/year/2019/info/posters"

        src3="/assets/photos/teaser-2019-infovis-1210.png"
        alt3="From Lathore et al., 'Estimating Color-Concept Associations from Image Statistics'"
        url3="/"

        src4="/assets/photos/teaser-2019-short-1060.jpg"
        alt4="From Günther et al., 'scenery: Flexible Virtual Reality Visualization on the Java VM' "
        url4="/year/2019/info/papers-sessions"

        src5="/assets/photos/presentation.jpg"
        alt5="Photo credit: Bon Adriel Aseniero."
        url5="/year/2019/info/papers-sessions"

        src6="/assets/photos/visap.JPG"
        alt6="VISAP 2018. Photo credit: Bon Adriel Aseniero."
        url6="https://visap.net/"
    %}

    {% include taglines.html
        title1="See" description1="Explore the most recent advances in visualization"
        title2="Learn" description2="Get hands on with tutorials and workshops"
        title3="Meet" description3="Join our creative, capable visualization community"
        title4="Share" description4="Share your work and research findings" %}
</div>

<!-- uncomment to activate supporters list
{% include supporters.html
    title="IEEE VIS is made possible by our supporters."
    description="Our generous supporters help to fund our diveristy and inclusion
    scholarship, childcare grants and more. Participate in IEEE VIS by supporting and exhibiting at the conference."
    button-text="Become a Supporter"
    button-link="/year/2020/info/exhibition/supporters-and-exhibition" %}
-->
