---
layout: default
---

{% include main-banner.html 
    image-src="/assets/vis2019_logo.svg" 
    image-alt="VIS 2019 Logo"
    description="the premier forum for advances in visualization" 
    event-date="20-25 October 2019"
    event-location="Vancouver, Canada" %}

{% include welcome-letter.html
    image-src="/assets/photos/homepage_background_photo.png"
    image-alt="A placeholder image" %}

<div class="main-card--container container mt-16 md:mt-24">
    {% include main-card.html
        title="Registration"
        description="Full week, one day, two day, and keynote + capstone registrations are still available."
        button-text="Register Now"
        button-link="/2019/info/registration/conference-registration" %}

    {% include main-card.html
        title="Location"
        description="VIS 2019 is taking place at the Vancouver Convention Centre East. Find out how to get here."
        button-text="Get Directions"
        button-link="" %}

    {% include main-card.html
        title="Program"
        description="This year's full program is now available as an app and here on this website."
        button-text="Download the App"
        button-link="" %}

    {% include main-card.html
        title="New to VIS?"
        description="New to VIS? Read the Newcomers' Guide to learn what to expect from your first VIS conference."
        button-text="Learn More"
        button-link="" %}
</div>

<div class="bg-gray-200">
    {% include photo-grid.html
        src1="/assets/photos/datacardgame.jpg"
        alt1="Data physicalization card game activity. Photo credit: Bon Adriel Aseniero."
        url1="/year/2019/info/papers-sessions"

        src2="/assets/photos/teaser-2019-infovis-1210.png"
        alt2="From Lathore et al., 'Estimating Color-Concept Associations from Image Statistics'"
        url2="/"

        src3="/assets/photos/model.jpg"
        alt3="Photo credit: Bon Adriel Aseniero."
        url3="/"

        src4="/assets/photos/teaser-2019-short-1013.jpg"
        alt4="From Lundgard et al., 'Sociotechnical Considerations for Accessible Visualization Design' "
        url4="/year/2019/info/papers-sessions"

        src5="/assets/photos/teaser-2019-short-1060.jpg"
        alt5="From Günther et al., 'scenery: Flexible Virtual Reality Visualization on the Java VM' "
        url5="/year/2019/info/papers-sessions"

        src6="/assets/photos/visap.JPG"
        alt6="VISAP 2018. Photo credit: Bon Adriel Aseniero."
        url6="/"
    %}

    {% include taglines.html
        title1="See" description1="Explore the most recent advances in visualization"
        title2="Learn" description2="Get hands on with tutorials and workshops"
        title3="Meet" description3="Join our creative, capable visualization community"
        title4="Share" description4="Share your work and research findings" %}
</div>

{% include supporters.html
    title="IEEE VIS is made possible by our supporters."
    description="Our generous supporters help to fund our diveristy and inclusion
    scholarship, childcare grants and more. Participate in IEEE VIS by supporting and exhibiting at the conference."
    button-text="Become a Supporter"
    button-link="/year/2019/info/exhibition/supporters-and-exhibition" %}
