---
layout: default
---

<div class="lg:mx-16 sm:mx-8 mx-6 py-32 relative ">
    <h1>{{ page.title }}</h1>
    {% if page.intro_section.callout %}
        <div class="participation-card ">
            <p class="text-primary m-0 ">{{ page.intro_section.callout }}</p>
        </div>
    {% endif %}
    
</div>
<div class="shape-section shape-section--primary-light">
    <div class="shape-section {% if page.intro_section.callout %}shape-section--primary-line{% else %}shape-section--primary{% endif %} ">
        <div class="section-content ">

            <div class="flex md:flex-row flex-col flex-wrap {% if page.intro_section.callout %}lg:mt-24 mt-16{% else %}mt-0{%endif%}">
                {% for card in page.intro_section.cards %}
                    {% include card.html 
                        title=card.title
                        description=card.description
                        button_text=card.button_text
                        button_url=card.button_url %}
                {% endfor %}
            </div>
            {% if page.intro_section.content %}
                <div class="intro-content">
                    {{ page.intro_section.content | markdownify }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="md:px-16 px-6 py-16 flex md:flex-row flex-col justify-between ">
    <div class="content md:w-3/5 w-full md:mt-0 mt-8 md:order-none order-2 ">
        {{ content }}
    </div>

    {% if page.sidebar %}
        {% include sidebar.html %}
    {% endif %}
</div>
