---
layout: default
---

<div class="sm:px-16 px-6 py-32 relative ">
    <h1>{{ page.title }}</h1>
    <div class="participation-card ">
        <p class="text-primary m-0 ">IEEE VIS 2019 is now soliciting novel research contributions and innovative applications in all areas of visualization as captured by its three main conference tracks: VAST, InfoVis, and SciVis.</p>
    </div>
</div>
<div class="shape-section shape-section--primary-light">
    <div class="shape-section shape-section--primary-line ">
        <div class="section-content ">
            <div class="flex md:flex-row flex-col mt-24 flex-wrap ">
                <div class="card flex-1 md:mr-2 mr-0 bg-accent ">
                    <p class="font-display font-bold text-md ">IEEE Conference on Visual Analytics Science & Technology (VAST)</p>
                    <p>Papers in VAST typically focus on problems that integrate data analysis algorithms and visual interfaces to support data
                    analysis and analytical reasoning.</p>
                    <div class="mt-auto ">
                        <a href=" " class="button button-inverse ">VAST Paper Types</a>
                    </div>

                </div>
                <div class="card flex-1 md:mx-2 mx-0 bg-accent ">
                    <p class="font-display font-bold text-md ">IEEE Conference on Information Visualization (InfoVis)</p>
                    <p>Papers in InfoVis typically relate to the design or evaluation of new or improved visual encodings or interaction
                    techniques of abstract data (such as graphs, tables, or text data).</p>
                    <div class="mt-auto ">
                        <a href=" " class="button button-inverse ">InfoVis Paper Types</a>
                    </div>

                </div>
                <div class="card flex-1 md:ml-2 mx-0 bg-accent ">
                    <p class="font-display font-bold text-md ">IEEE Conference on Scientific Visualization (SciVis)</p>
                    <p>Papers in SciVis typically focus on new or improved visual encodings, mathematical models, algorithms, or interaction
                    techniques for the visualization of data related to science and engineering, as well as integration into novel
                    applications and systems.</p>
                    <div class="mt-auto ">
                        <a href=" " class="button button-inverse ">SciVis Paper Types</a>
                    </div>

                </div>
            </div>
            <div class="text-white md:w-1/2 w-full mt-8 ">
                <p class="font-bold ">Which conference track should I submit to?</p>
                <p>We encourage you to allocate your submission to one of the three tracks above. But if you are unsure, you will have the
                option to allow the paper chairs to allocate your paper to the one they deem the most appropriate.</p>
                <p class="font-bold ">Where will papers appear?</p>
                <p>Full papers accepted to IEEE InfoVis, SciVis, and most of VAST will appear in a special issue of the IEEE Transactions
                on Visualization and Computer Graphics (TVCG). Some papers of the VAST conference will be published as archival,
                conference publications.</p>
            </div>
        </div>
    </div>
</div>

<div class="content md:px-16 px-6 py-16 flex md:flex-row flex-col justify-between ">
    <div class="md:w-3/5 w-full md:mt-0 mt-8 md:order-none order-2 ">
        <div class="mb-24 ">
            <h2>Submission Dates</h2>
            <p>All deadlines are at 5:00pm Pacific Time (PDT).</p>

            <table>
                <tbody>
                    <tr>
                        <td>Abstract submission (MANDATORY)</td>
                        <td>Thursday, March 21, 2019</td>
                    </tr>
                    <tr>
                        <td>Paper submission</td>
                        <td>Sunday, March 31, 2019</td>
                    </tr>
                    <tr>
                        <td>Notification of results of first review cycle</td>
                        <td>Thursday, June 6, 2019</td>
                    </tr>
                    <tr>
                        <td>Paper submission for second review cycle</td>
                        <td>Monday, June 24, 2019</td>
                    </tr>
                    <tr>
                        <td>Final notification</td>
                        <td>Monday, July 8, 2019</td>
                    </tr>
                    <tr>
                        <td>Camera-ready copy</td>
                        <td>Thursday, August 1, 2019</td>
                    </tr>
                </tbody>
            </table>
            <div class="inline-block mt-8 ">
                <div class="md:flex items-center px-6 py-4 border border-primary border-l-8 rounded-sm bg-primary-100 ">
                    <div class="mb-4 md:mb-0 md:mr-4 ">
                        <p class="heading-base mb-0 ">Final Instructions for Authors of Accepted Papers</p>
                        <p class="text-primary mb-0 ">Important information for the remainder of the process until the conference.</p>
                    </div>
                    <div>
                        <a href="# " class="button ">
                            Instructions
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-10 ">
            <h2>Submission Guidelines and Reviewing Criteria</h2>
            <p>As the leading academic event on visualization research, IEEE VIS expects important, impactful, and potentially
            transformative contributions. Submissions will be judged on their importance, potential impact, degree to which the
            evidence supports the findings, appropriateness of methodology, and the research process followed. Papers and any
            supplemental material are only conditionally accepted and will undergo a full revision and review cycle after initial
            notification of review results. During this time, reviewers will ensure that necessary conditions for acceptance have
            been met in the new revision.</p>
            <p>Additionally, IEEE VIS 2019 will feature a separate, short papers track with a submission deadline of June 13, 2019,
            after notifications for full papers have been sent out. You can find out more in the call for participation for <a href=" " class="link ">IEEE VIS
            Short Papers</a>.</p>
            <p>When preparing your submission, please make sure that you carefully read and adhere to the <a href=" " class="link ">paper submission guidelines</a>.</p>
            <p>The three conference tracks at IEEE VIS 2019 use the same submission and review process. The conferences differ in the
            topics, emphasis, and approach, as described in the conference-specific for <a href=" " class="link ">VAST</a>, <a href=" " class="link ">InfoVis</a>, and <a href=" " class="link ">SciVis</a>.
            </p>

            <p>Authors of accepted papers should also follow the <a href=" " class="link ">instructions for preparing a camera-ready submission</a>.</p>

            <hr>
            {{ content }}
        </div>

    </div>
    <!-- specificity issues still -->
    <div class="page-sidebar ">
        <div class="mb-8 ">
            <p class="uppercase font-bold text-gray-500 ">Submit A Session</p>
            <div class="overflow-hidden md:ml-0 -ml-3 ">
                <div class="md:ml-0 -ml-px ">
                    <a href=" " class="page-sidebar__link ">Papers</a>
                    <a href=" " class="page-sidebar__link ">Short Papers</a>
                    <a href=" " class="page-sidebar__link ">Posters</a>
                    <a href=" " class="page-sidebar__link ">Tutorials</a>
                    <a href=" " class="page-sidebar__link ">Workshops</a>
                    <a href=" " class="page-sidebar__link ">Panels</a>
                    <a href=" " class="page-sidebar__link ">Doctoral Colloqium</a>
                    <a href=" " class="page-sidebar__link ">Application Spotlights</a>
                </div>
            </div>
        </div>
        <div>
            <p class="uppercase font-bold text-gray-500 ">Info For Presenters</p>
            <div class="overflow-hidden md:ml-0 -ml-3 ">
                <div class="md:ml-0 -ml-px ">
                    <a href=" " class="page-sidebar__link ">Important Dates</a>
                    <a href=" " class="page-sidebar__link ">Open Practices</a>
                </div>
            </div>
        </div>
    </div>
</div>
