---
layout: default
---

<div class="sm:px-16 px-0 py-16 m-6 relative ">
    <h1 class="mb-6 font-fira ">VIS 2019</h1>
    <h2>the premier forum for advances in visualization</h2>
    <div class="event-card md:w-3/5 w-full bg-secondary-700 absolute sm:p-4 p-0 flex sm:flex-row flex-col align-middle ">
        <div class="sm:w-1/2 w-full p-4 text-center text-white font-zilla self-center ">VIS|VAST INFOVIS SCIVIS</div>
        <div
            class="sm:w-1/2 w-full p-4 text-center text-white font-zilla self-center font-bold sm:border-l border-l-0 sm:border-t-0 border-t border-white ">
            20-25
            October 2019 in
            Vancouver, Canada
        </div>
    </div>
</div>
<!-- Fix this to include section-content -->
<div class="polygon-primary px-6 pt-6 flex justify-end ">
    <img class="w-3/5 md:block hidden absolute left-0 top-0 " src="https://via.placeholder.com/800x1200" alt=" ">

    <div class="polygon-paper relative ">
        <div class="p-16">
            {{ content }}
        </div>
    </div>
</div>

<div class="bg-white p-10">
    <div class="flex sm:flex-row flex-col ">
        <div class="callout-card sm:border-r border-r-0 border-b border-dashed border-secondary-200 ">
            <h3 class="mb-6 ">New Attendees Guide</h3>
            <p class="mb-6 ">TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
                week, meet newcomers, etc.</p>
            <button class="button button-secondary ">Learn more</button>
        </div>
        <div class="callout-card border-b border-dashed border-secondary-200 ">
            <h3 class="mb-6 ">Get the Digital Program</h3>
            <p class="mb-6 ">TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
                week, meet newcomers, etc.</p>
            <button class="button button-secondary ">Download the App</button>
        </div>
    </div>
    <div class="flex sm:flex-row flex-col ">
        <div class="callout-card sm:border-r border-r-0 sm:border-b-0 border-b border-dashed border-secondary-200 ">
            <h3 class="mb-6 ">Apply for the Diversity and Inclusion Scholarships</h3>
            <p class="mb-6 ">TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
                week, meet newcomers, etc.</p>
            <button class="button button-secondary ">Learn more</button>
        </div>
        <div class="callout-card ">
            <h3 class="mb-6 ">Student Volunteers</h3>
            <p class="mb-6 ">TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
                week, meet newcomers, etc.</p>
            <button class="button button-secondary ">Learn more</button>
        </div>
    </div>
</div>
<div class="bg-gray-200 px-8 pt-8 sm:pb-8 pb-0 ">
    <div class="flex sm:flex-row flex-col ">
        <div class="flex flex-col sm:mr-2 mr-0 ">
            <img class="mb-4 " src="https://via.placeholder.com/800x500 " alt=" ">
            <img class="mb-4 " src="https://via.placeholder.com/800x1000 " alt=" ">
        </div>
        <div class="flex flex-col sm:mx-2 mx-0 ">
            <img class="mb-4 " src="https://via.placeholder.com/800x1000 " alt=" ">
            <img class="mb-4 " src="https://via.placeholder.com/800x500 " alt=" ">
        </div>
        <div class="flex flex-col sm:ml-2 ml-0 ">
            <img class="mb-4 " src="https://via.placeholder.com/800x500 " alt=" ">
            <img class="mb-4 " src="https://via.placeholder.com/800x1000 " alt=" ">
        </div>
    </div>

    <div class="flex sm:flex-row flex-col my-6 ">
        <div class="flex-1 sm:pr-6 pr-0 sm:mb-0 mb-8 ">
            <p class="text-primary uppercase font-bold mb-1 ">See</p>
            <p class="text-primary ">Explore the most recent advances in visualization</p>
        </div>
        <div class="flex-1 sm:px-6 px-0 sm:mb-0 mb-8 ">
            <p class="text-primary uppercase font-bold mb-1 ">Learn</p>
            <p class="text-primary ">Get hands on with tutorials and workshops</p>
        </div>
        <div class="flex-1 sm:px-6 pr-0 sm:mb-0 mb-8 ">
            <p class="text-primary uppercase font-bold mb-1 ">Meet</p>
            <p class="text-primary ">Join our creative, capable visualization community</p>
        </div>
        <div class="flex-1 sm:pl-6 pl-0 sm:mb-0 mb-8 ">
            <p class="text-primary uppercase font-bold mb-1 ">Share</p>
            <p class="text-primary ">Share your work and research findings</p>
        </div>
    </div>
</div>

<div class="bg-white sm:px-16 px-10 sm:pt-16 pt-10 mb-40 ">
    <div class="flex sm:flex-row flex-col ">
        <div class="sm:w-2/5 w-full sm:mb-0 mb-16 ">
            <h2 class="mb-6 ">IEEE VIS is made possible by our supporters.</h2>
            <p class="mb-6 text-primary ">TK TK TK Our generous supporters help to fund our diveristy and inclusion
                scholarship, childcare
                grants and
                more.
                Participate in IEEE VIS by supporting and exhibiting at the conference.</p>
            <button class="button button-blue align-middle ">Become a Supporter</button>
        </div>
        <div class="sm:w-3/5 sm:ml-12 ml-0 w-full ">
            <div class="sponsor__row ">
                <p class="uppercase font-bold text-gray-400 mb-6 ">Platinum</p>
                <div class="sponsor-container ">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                </div>
            </div>
            <div class=" sponsor__row ">
                <p class="uppercase font-bold text-gray-400 mb-6 ">Gold</p>
                <div class="sponsor-container ">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                </div>
            </div>
            <div class=" sponsor__row ">
                <p class="uppercase font-bold text-gray-400 mb-6 ">Bronze</p>
                <div class="sponsor-container ">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                </div>
            </div>
            <div class=" sponsor__row ">
                <p class="uppercase font-bold text-gray-400 mb-6 ">Pearl</p>
                <div class="sponsor-container ">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                </div>
            </div>
            <div class=" sponsor__row ">
                <p class="uppercase font-bold text-gray-400 mb-6 ">Other Donations</p>
                <div class="sponsor-container ">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                </div>
            </div>
            <div class=" sponsor__row ">
                <p class="uppercase font-bold text-gray-400 mb-6 ">In Affiliation/Cooperation With</p>
                <div class="sponsor-container ">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                    <img width="175" class="" src="https://via.placeholder.com/150x50" alt="TK TK TKTitle">
                </div>
            </div>
        </div>
    </div>
</div>
