---
layout: default
---

{% include main-banner.html 
    image-src="/assets/vis2019_logo.svg" 
    image-alt="VIS 2019 Logo"
    description="the premier forum for advances in visualization" 
    event-date="20-25 October 2019"
    event-location="Vancouver, Canada" %}

{% include section-letter.html 
    image-src="https://via.placeholder.com/800x1200"
    image-alt="A placeholder image" %}

<div class="main-card--container">
    {% include main-card.html
        title="New Attendees Guide"
        description="TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
        week, meet newcomers, etc. TK Learn about what to expect for your first VIS. TK Learn about what to expect for your first VIS."
        button-text="Learn more"
        button-link="" %}
    
    {% include main-card.html
        title="Get the Digital Program"
        description="TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
        week, meet newcomers, etc."
        button-text="Learn more"
        button-link="" %}
    
    {% include main-card.html
        title="Apply for the Diversity and Inclusion Scholarships"
        description="TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
        week, meet newcomers, etc."
        button-text="Learn more"
        button-link="" %}

    {% include main-card.html
        title="Student Volunteers"
        description="TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
        week, meet newcomers, etc."
        button-text="Learn more"
        button-link="" %}

    {% include main-card.html
        title="Get the Digital Program"
        description="TK Learn about what to expect for your first VIS conference. Get tips on how to plan your
        week, meet newcomers, etc."
        button-text="Learn more"
        button-link="" %}
</div>

<div class="bg-gray-200">
    {% include photo-grid.html
        src1="/assets/photos/datacardgame.jpg"
        alt1="Data Physicalization Card Game Activity. Photo credit Bon Adreil A."
        url1="/year/2019/info/call-participation/shortpapers"

        src2="/assets/photos/demo.jpg"
        alt2="A placeholder image and caption. Photo credit: Bon Adreil A."
        url2="/"

        src3="/assets/photos/model.jpg"
        alt3="A placeholder image and caption"
        url3="/"

        src4="/assets/photos/presentation.jpg"
        alt4="A placeholder image and caption"
        url4="/"

        src5="/assets/photos/sketchnotes.jpg"
        alt5="A placeholder image and caption"
        url5="/"

        src6="/assets/photos/visap.jpg"
        alt6="A placeholder image and caption"
        url6="/"
    %}

    {% include taglines.html
        title1="See" description1="Explore the most recent advances in visualization"
        title2="Learn" description2="Get hands on with tutorials and workshops"
        title3="Meet" description3="Join our creative, capable visualization community"
        title4="Share" description4="Share your work and research findings" %}
</div>

{% include supporters.html
    title="IEEE VIS is made possible by our supporters."
    description="Our generous supporters help to fund our diveristy and inclusion
    scholarship, childcare grants and more. Participate in IEEE VIS by supporting and exhibiting at the conference."
    button-text="Become a Supporter"
    button-link="/year/2019/info/exhibition/supporters-and-exhibition" %}
