
.schedule {
    max-width: 1140px;
    max-height: 1200px;
    display: grid;
    gap: 0.5em;
    grid-template-rows:
        0.2fr
        [tracks] auto
        [time-0830] 4fr
        [time-0930] 1fr
        [time-0945] 1fr
        [time-1000 time-1005] 1fr
        [time-1015] 3fr
        [time-1100] 2fr
        [time-1130 time-1145 time-1120 time-1115 time-1125] 2fr
        [time-1200] 2fr
        [time-1230] 1fr
        [time-1245] 1fr
        [time-1300] 1fr
        [time-1315 time-1317 time-1320] 1fr
        [time-1330 time-1320 time-1317] 1fr
        [time-1345] 1fr
        [time-1400] 2fr
        [time-1430] 1fr
        [time-1445] 1fr
        [time-1500] 1fr
        [time-1510 time-1515] 1fr
        [time-1530] 4fr
        [time-1630] 1fr
        [time-1645] 1fr
        [time-1700] ;

    grid-template-columns:
        [times] 5em
        [day-1-start] 1fr
        [day-1-end day-2-start] 1fr
        [day-2-end day-3-start] 1fr
        [day-3-end day-4-start] 1fr
        [day-4-end day-5-start] 1fr
        [day-5-end day-6-start] 1fr
        [day-6-end timezones] 5em
        [timezones-end];
}

#curr-time-indicator-line, #curr-time-indicator-label {
    display: none;
    color: rgb(106, 168, 104);
}

#curr-time-indicator-line {
    border-color: rgb(106, 168, 104);
}

#curr-time-indicator-line::after {
    border-color: rgb(106, 168, 104) !important;
}

.schedule-header {
    max-width: 1140px;
    display: grid;
    gap: 0.5em;

    grid-template-rows:
        0.2fr
        [timezones] auto;

    grid-template-columns:
        [times] 5em
        [day-1-start] 1fr
        [day-1-end day-2-start] 1fr
        [day-2-end day-3-start] 1fr
        [day-3-end day-4-start] 1fr
        [day-4-end day-5-start] 1fr
        [day-5-end day-6-start] 1fr
        [day-6-end timezones] 5em
        [timezones-end];
}

/* one additional column; max 8 concurrent rooms */
.schedule.schedule-day {
    grid-template-columns:
        [times] 5em
        [bayshorefoyer-start] 1fr
        [bayshorefoyer-end bayshoreplenary-start] 1fr
        [bayshoreplenary-end bayshore1-start] 1fr
        [bayshore1-end bayshore2-start] 1fr
        [bayshore2-end bayshore3-start] 1fr
        [bayshore3-end bayshore5-start] 1fr
        [bayshore5-end bayshore6-start] 1fr
        [bayshore6-end bayshore7-start] 1fr
        [bayshore7-end palmaceia234-start] 1fr
        [palmaceia234-end palmaceia1-start] 1fr
        [palmaceia1-end esplanadesuites-start] 1fr
        [esplanadesuites-end timezones-start] 5em
        [timezones-end];
}

/* customize layout per-day */
#calendar-Sunday, #calendar-Monday {
    grid-template-columns:
        [times] 5em
        [bayshore1-start] 1fr
        [bayshore1-end bayshore2-start] 1fr
        [bayshore2-end bayshore3-start] 1fr
        [bayshore3-end bayshore5-start] 1fr
        [bayshore5-end bayshore6-start] 1fr
        [bayshore6-end bayshore7-start] 1fr
        [bayshore7-end esplanadesuites-start] 1fr
        [esplanadesuites-end timezones-start] 5em
        [timezones-end];
}

#calendar-Tuesday {
    grid-template-columns:
        [times] 5em
        [bayshorefoyer-start] 1fr
        [bayshorefoyer-end bayshoreplenary-start] 1fr
        [bayshoreplenary-end bayshore1-start] 1fr
        [bayshore1-end bayshore3-start] 1fr
        [bayshore3-end timezones-start] 5em
        [timezones-end];
}

#calendar-Wednesday {
    grid-template-columns:
        [times] 5em
        [bayshore1-start] 1fr
        [bayshore1-end bayshore2-start] 1fr
        [bayshore2-end bayshore3-start] 1fr
        [bayshore3-end bayshore5-start] 1fr
        [bayshore5-end bayshore6-start] 1fr
        [bayshore6-end bayshore7-start] 1fr
        [bayshore7-end palmaceia1-start] 1fr
        [palmaceia1-end bayshoreplenary-start] 1fr
        [bayshoreplenary-end timezones-start] 5em
        [timezones-end];
}

#calendar-Thursday {
    grid-template-columns:
        [times] 5em
        [bayshore1-start] 1fr
        [bayshore1-end bayshore2-start] 1fr
        [bayshore2-end bayshore3-start] 1fr
        [bayshore3-end bayshore5-start] 1fr
        [bayshore5-end bayshore6-start] 1fr
        [bayshore6-end bayshore7-start] 1fr
        [bayshore7-end bayshoreplenary-start] 1fr
        [bayshoreplenary-end timezones-start] 5em
        [timezones-end];
}

#calendar-Friday {
    grid-template-columns:
        [times] 5em
        [bayshoreplenary-start] 1fr
        [bayshoreplenary-end bayshore1-start] 1fr
        [bayshore1-end bayshore5-start] 1fr
        [bayshore5-end bayshore6-start] 1fr
        [bayshore6-end bayshore7-start] 1fr
        [bayshore7-end timezones-start] 5em
        [timezones-end];
}

.tz {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    padding-bottom: 2em;
}

.tz-title {
    font-weight: 700;
}

.tz-right {
    /* text-align: right; */
    align-items: flex-end;
    align-content: stretch;
    grid-column: span 3 / timezones-end;
    grid-row: timezones;
    align-self: end;
}

.tz-right .dropdown.bootstrap-select {
    width: 300px !important; /* sigh */
}

.filter {
    display: flex;
    flex-direction: column;
    font-size: 0.85em;
    padding-bottom: 2em;
}

.filter-title {
    font-weight: 700;
}

.day-slot, .time-slot, .day-slot h2 {
    margin: 0 !important;
    font-size: 1.1em;
    font-weight: 400;
    color: var(--text-dark-color);
}

.day-slot h2 a {
    color: var(--text-dark-color);
}

.day-slot h2 a:hover {
    color: var(--text-dark-color);
}

.time-slot.converted-timezone,
.tz:not(.tz-right) {
    color: var(--vis2024-blue);
}

.day-slot {
    padding-bottom: 0.5em;
    width: 100%;
    /* justify-self: center; */
    text-align: center;
    border-bottom: 1px dotted var(--vis2024-blue);
}

.day-slot a {
    cursor: pointer;
}

.time-slot:not(.converted-timezone) {
    grid-column: timezones;
    text-align: right;
}

.session {
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.day-slot a:hover,
.session-group:hover,
:not(.session-group) > .session:hover {
    opacity: 0.85;
}

.session.session-minimal {
    padding: 0.4em;
    /* display: none; */
}

.session-group {
    justify-self: center;
    display: flex;
    gap: 0.25em;
}
